# Texas COVID Vulnerability Report
**by Yvonne King, Brandi Reger, Jada Shipp, and Wenliang Sun**

**Quick Notebook Reference**

1. Project Plan
2. Imports
3. Acquire
4. Prep
5. Exploration
6. Models
7. Model Evaluation
8. Final Conclusions

##Project Plan

**Acquisition, Prep, and Initial Exploration**
- Read in various files
- Handle Missing Values
- Remove/repair erroneous data
- Look at shape of data

**Exploration**
- Answer the following questions:
    - What social features are related to spikes in COVID

**Modeling**
- Time Series Analysis - Using our social vulnerability index we want to create a model to show weekly growth/decline of COVID per county
- We will use classification, time series, and possibly regression to predict case increases

**Main Hypotheses**

- $H_0$: Vulnerability score is not related to higher infection rate.
- $H_a$: Vulnerability score is related to higher infection rate


- $H_0$: Population density correlates to higher infection rate
- $H_a$: Population density does not correlate to higher infection rate 


- $H_0$: Counties with higher population of senior citizens have higher infection rates
- $H_a$: Counties with higher population of senior citizens do not have higher infection rates

## Imports

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas

import acquire
import prepare
import explore

## Acquire
- The ```acquire.py``` file has all the functions to call in our dataframes for the Texas subsets of the following files (which can be found in the Data folder:
    - County Classification
    - Cumulative Tests over Time by County
    - Food1
    - Hospitals
    - Jobs
    - NursinfFacilities
    - People
    - time_series_covid19_confirmed_US
    - Variable Name Lookup
    - Veterans
- We went through all the files above and dropped erroneous columns
- After each file was combed through, we combined all data into one large dataframe using the```merge_dataframes()``` function in the ```acquire.py```

In [2]:
#bring in complete dataframe
df = acquire.merge_dataframes()

#take a peek at the data
df.sample(5)

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,Age65AndOlderNum2010,Under18Num2010,...,FIPS,num_nursing_homes,total_tests,Public Health Region (11),Health Service Region (8),RPL_THEME1,RPL_THEME2,RPL_THEME3,RPL_THEME4,RPL_THEMES
94,7568.001971,hale,42782.0,6.684323,2364.0,5715.0,1004.68,33830.0,4435,10434,...,48189,2.0,362,1,1,0.8893,0.4822,0.8024,0.7984,0.8775
161,17497.680131,maverick,35594.0,8.662851,6351.0,14859.0,1279.26,58485.0,5727,18323,...,48323,3.0,2579,8,8,0.9842,0.8379,0.9960,0.6403,0.9486
179,2052.000006,oldham,56590.0,5.986842,75.0,245.0,1500.53,2131.0,255,698,...,48359,NaN,103,1,1,0.2372,0.1976,0.1423,0.3083,0.1304
28,7732.014137,calhoun,52085.0,4.725362,1239.0,3036.0,506.84,21561.0,3234,5671,...,48057,2.0,914,8,8,0.5652,0.8696,0.7589,0.6601,0.7826
77,1336.000005,foard,37648.0,2.549162,76.0,210.0,704.40,1200.0,319,278,...,48155,1.0,94,2,2/3,0.5968,0.3834,0.1976,0.0870,0.1976

In [3]:
#look at the shape of the data
df.shape

(254, 78)

In [4]:
#look at data types and counts
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 254 entries, 0 to 253
Data columns (total 78 columns):
LACCESS_POP15                         253 non-null float64
County                                254 non-null object
MedHHInc                              254 non-null float64
Deep_Pov_All                          254 non-null float64
PovertyUnder18Num                     254 non-null float64
PovertyAllAgesNum                     254 non-null float64
LandAreaSQMiles2010                   254 non-null float64
TotalPopEst2018                       254 non-null float64
Age65AndOlderNum2010                  254 non-null int64
Under18Num2010                        254 non-null int64
NaturalChange1018                     254 non-null float64
AvgHHSize                             254 non-null float64
TotalOccHU                            254 non-null int64
OwnHomeNum                            254 non-null int64
FemaleHHNum                           254 non-null int64
TotalHH                               254 non-null int64
NonEnglishHHNum                       254 non-null int64
HH65PlusAloneNum                      254 non-null int64
Ed1LessThanHSNum                      254 non-null int64
Ed2HSDiplomaOnlyNum                   254 non-null int64
Ed3SomeCollegeNum                     254 non-null int64
Ed4AssocDegreeNum                     254 non-null int64
Ed5CollegePlusNum                     254 non-null int64
WhiteNonHispanicNum2010               254 non-null int64
BlackNonHispanicNum2010               254 non-null int64
AsianNonHispanicNum2010               254 non-null int64
NativeAmericanNonHispanicNum2010      254 non-null int64
HispanicNum2010                       254 non-null int64
MultipleRaceNum2010                   254 non-null int64
State                                 254 non-null object
MedianVetsInc                         246 non-null float64
MedianNonVetsInc                      254 non-null float64
Vets18ONum                            254 non-null float64
CLFVets18to64Num                      254 non-null float64
NonVetsDisabilty                      254 non-null float64
VetsDisabilty                         254 non-null float64
NonVetsPoor                           254 non-null float64
VetsPoor                              254 non-null float64
UnempRate2018                         254 non-null float64
NumCivLaborforce2018                  254 non-null float64
PctEmpAgriculture                     254 non-null float64
PctEmpMining                          254 non-null float64
PctEmpConstruction                    254 non-null float64
PctEmpManufacturing                   254 non-null float64
PctEmpTrade                           254 non-null float64
PctEmpTrans                           254 non-null float64
PctEmpInformation                     254 non-null float64
PctEmpFIRE                            254 non-null float64
PctEmpServices                        254 non-null float64
PctEmpGovt                            254 non-null float64
RuralUrbanContinuumCode2013           254 non-null float64
UrbanInfluenceCode2013                254 non-null float64
Metro2013                             254 non-null float64
Micropolitan2013                      254 non-null float64
Type_2015_Farming_NO                  254 non-null float64
Type_2015_Manufacturing_NO            254 non-null float64
Type_2015_Mining_NO                   254 non-null float64
Type_2015_Government_NO               254 non-null float64
Type_2015_Recreation_NO               254 non-null float64
Low_Employment_2015_update            254 non-null float64
Population_loss_2015_update           254 non-null float64
Retirement_Destination_2015_Update    254 non-null float64
HiAmenity                             254 non-null float64
Metro_Adjacent2013                    254 non-null float64
num_hospitals                         186 non-null float64
population                            254 non-null int64
num_covid_cases                       254 non-null int64
infection_pct                         254 non-null float64
FIPS                                  254 non-null int64
num_nursing_homes                     220 non-null float64
total_tests                           254 non-null int64
Public Health Region (11)             254 non-null int64
Health Service Region (8)             254 non-null object
RPL_THEME1                            254 non-null float64
RPL_THEME2                            254 non-null float64
RPL_THEME3                            254 non-null float64
RPL_THEME4                            254 non-null float64
RPL_THEMES                            254 non-null float64
dtypes: float64(51), int64(24), object(3)
memory usage: 156.8+ KB

# Prepare

In [5]:
df = prepare.prep_dataframe(df)
df.sample(5)

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,Age65AndOlderNum2010,Under18Num2010,...,asian_pct,nat_am_pct,hispanic_pct,multi_race_pct,med_inc_vet_vs_civ,all_vet_pct,disabled_pct,poor_vets_pct,pop_density_category,infection_pct_category
228,11662.357768,Tyler,44041,6.350645,1080,3584,924,21696,4129,4352,...,0.00,0.00,0.07,0.01,1.49,0.11,0.14,0.05,mid,mid
76,412.838725,Floyd,39891,7.524480,519,1218,992,5837,1145,1862,...,0.00,0.00,0.59,0.01,1.49,0.08,0.08,0.05,low,mid
79,743.871196,Franklin,48222,4.284498,599,1615,284,10766,1981,2602,...,0.00,0.01,0.12,0.02,1.86,0.11,0.10,0.04,mid,mid
100,740267.412661,Harris,60241,6.759724,306893,767367,1703,4698619,333487,1147835,...,0.05,0.00,0.34,0.03,1.44,0.04,0.06,0.05,high,high
131,785.337693,Kent,47625,1.131542,28,89,902,726,208,185,...,0.00,0.01,0.15,0.01,0.00,0.07,0.15,0.00,low,low

In [6]:
df = prepare.get_data()

In [7]:
df

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,Age65AndOlderNum2010,Under18Num2010,...,asian_pct,nat_am_pct,hispanic_pct,multi_race_pct,med_inc_vet_vs_civ,all_vet_pct,disabled_pct,poor_vets_pct,pop_density_category,infection_pct_category
0,23111.241421,Anderson,45969,4.287712,2486,8778,1062,58057,7338,11475,...,0.00,0.00,0.16,0.02,1.59,0.09,0.07,0.06,mid,high
1,5015.975463,Andrews,84946,3.720851,774,1922,1500,18128,1663,4312,...,0.00,0.00,0.32,0.01,1.54,0.04,0.05,0.00,mid,mid
2,20927.331551,Angelina,46653,7.613627,5855,15052,797,87092,11843,23206,...,0.01,0.00,0.19,0.02,1.35,0.09,0.12,0.08,high,high
3,8865.511478,Aransas,46912,9.002793,1423,4642,252,23792,5602,4523,...,0.02,0.00,0.21,0.02,1.51,0.11,0.09,0.08,high,low
4,2147.672378,Archer,61190,3.490241,268,922,903,8786,1447,2185,...,0.00,0.01,0.08,0.02,1.31,0.10,0.10,0.01,mid,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,3222.188853,Wood,48384,6.128292,2116,6625,645,45129,10148,8528,...,0.00,0.00,0.08,0.01,1.34,0.11,0.11,0.04,high,mid
250,1562.352965,Yoakum,61560,5.705285,454,1028,799,8591,895,2501,...,0.00,0.00,0.50,0.02,1.49,0.03,0.04,0.02,mid,mid
251,6142.001383,Young,49301,5.501855,873,2468,914,18045,3422,4459,...,0.00,0.00,0.16,0.02,1.21,0.08,0.09,0.03,mid,mid
252,6065.681176,Zapata,33160,18.348365,2297,4529,998,14190,1460,4805,...,0.00,0.00,0.91,0.01,1.96,0.05,0.13,0.00,mid,mid
253,3702.027063,Zavala,30076,15.852535,1549,3701,1297,11983,1408,3660,...,0.00,0.00,0.86,0.01,2.03,0.04,0.17,0.00,mid,mid