In [1]:
# ignore warnings in jupyter notebook
import warnings
warnings.filterwarnings("ignore")
import os


import pandas as pd
import numpy as np

# Cleaning and preparation modules
import prep
import clean


# Code to show all columns and rows of the dataframe 
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
# df = prep.merge_dataframes()

In [3]:
# df.shape

In [4]:
# df = clean.prep_dataframe(df)

In [5]:
# df

In [6]:
# df.shape

In [7]:
# df.info()

In [8]:
# df['County'] = df.County.str.title()

In [9]:
# df.head()

In [10]:
# cols_to_round = ['cases_per_1k', 'cases_per_10k', 'cases_per_100k', 'positivity_rate', 'pop_density',
#         'low_food_access_pct', 'pov_under_18_pct', 'pov_pct', 'senior_pct', 'children_pct',
#         'home_owner_pct', 'renter_pct', 'female_hh_pct', 'senior_hh_pct', 'non_english_hh_pct',
#         'Ed1_pct', 'Ed2_pct', 'Ed3_pct', 'Ed4_pct', 'Ed5_pct', 'white_pct', 'black_pct', 
#         'asian_pct', 'nat_am_pct', 'hispanic_pct', 'multi_race_pct',
#         'med_inc_vet_vs_civ', 'all_vet_pct', 'disabled_pct', 'poor_vets_pct']

In [11]:
# df[cols_to_round] = df[cols_to_round].round(2)

In [12]:
# df = df.drop(columns = 'PopDensity2010')

In [13]:
# cols_to_int = ['MedHHInc', 'PovertyUnder18Num', 'PovertyAllAgesNum', 'LandAreaSQMiles2010', 'TotalPopEst2018',
#                'NaturalChange1018', 'MedianVetsInc', 'MedianNonVetsInc', 'Vets18ONum', 
#                'CLFVets18to64Num', 'NonVetsDisabilty', 'VetsDisabilty', 'NonVetsPoor', 'VetsPoor', 
#                'NumUnemployed2018', 'NumCivLaborforce2018', 'RuralUrbanContinuumCode2013',
#                'UrbanInfluenceCode2013', 'Metro2013', 'Micropolitan2013', 'Type_2015_Farming_NO', 
#                'Type_2015_Manufacturing_NO', 'Type_2015_Mining_NO', 'Type_2015_Government_NO', 
#                'Type_2015_Recreation_NO', 'Low_Employment_2015_update', 'Population_loss_2015_update', 
#                'Retirement_Destination_2015_Update', 'HiAmenity', 'Metro_Adjacent2013', 'num_hospitals', 
#                'num_nursing_homes']

In [14]:
# df[cols_to_int] = df[cols_to_int].astype(int)

In [15]:
# df.dtypes

In [16]:
# if os.path.isfile('mother_frame.csv'):
#     df = pd.read_csv('mother_frame.csv', index_col=0)
# else:
#     df = clean.get_data()

In [17]:
# df.info()

In [18]:
def get_texas_hospitals():
    """Uses hospitals csv and return just the open texas hospitals"""
    hospitals = pd.read_csv("../Data/Hospitals.csv")

    # create mask to filter for hospitals in TX
    mask = hospitals.STATE == "TX"
    tx_hospitals = hospitals[mask]

    # drop useless columns
    tx_hospitals = tx_hospitals.drop(
        columns=[
            "X",
            "Y",
            "FID",
            "ID",
            "ZIP4",
            "TELEPHONE",
            "POPULATION",
            "COUNTRY",
            "NAICS_CODE",
            "SOURCE",
            "SOURCEDATE",
            "VAL_METHOD",
            "VAL_DATE",
            "WEBSITE",
            "ALT_NAME",
            "TTL_STAFF",
            "TRAUMA",
            "HELIPAD",
        ]
    )

    # rename county_fips to fips
    tx_hospitals.rename(columns={"COUNTYFIPS": "FIPS"}, inplace=True)

    # drop the closed hospitlas
    mask = tx_hospitals.STATUS == "OPEN"
    tx_hospitals = tx_hospitals[mask]

    return tx_hospitals

In [19]:
def create_hospital_count_df():
    """
    Uses the get_texas_hospitals function and creates a dataframe
    totaling the number of hospitals homes per county
    """
    # Bring in the hospitals dataframe
    hosp = get_texas_hospitals()

    # Get the value counts for each FIPS (county)
    df = pd.DataFrame(hosp.FIPS.value_counts()).reset_index()

    # Rename the columns
    df.rename(columns={"FIPS": "num_hospitals"}, inplace=True)
    df.rename(columns={"index": "FIPS"}, inplace=True)

    df["FIPS"] = df.FIPS.astype(int)

    return df

In [20]:
create_hospital_count_df()

      FIPS  num_hospitals
0    48201             84
1    48439             56
2    48113             51
3    48029             46
4    48453             29
5    48085             28
6    48141             19
7    48121             19
8    48339             16
9    48215             15
10   48021             14
11   48355             14
12   48157             13
13   48245             13
14   48491             12
15   48303             10
16   48061             10
17   48423             10
18   48027             10
19   48375              9
20   48181              8
21   48041              7
22   48485              7
23   48183              7
24   48037              6
25   48039              6
26   48479              6
27   48469              6
28   48441              5
29   48209              5
30   48135              5
31   48091              5
32   48005              4
33   48309              4
34   48167              4
35   48451              4
36   48329              4
37   48291              3
38   48461              3
39   48227              3
40   48089              3
41   48253              3
42   48347              3
43   48277              3
44   48397              3
45   48265              3
46   48073              3
47   48139              3
48   48481              2
49   48285              2
50   48321              2
51   48055              2
52   48331              2
53   48053              2
54   48001              2
55   48487              2
56   48503              2
57   48071              2
58   48337              2
59   48465              2
60   48231              2
61   48257              2
62   48499              2
63   48399              2
64   48147              2
65   48097              2
66   48197              2
67   48189              2
68   48293              2
69   48367              2
70   48083              2
71   48371              2
72   48497              2
73   48483              2
74   48127              1
75   48255              1
76   48207              1
77   48025              1
78   48401              1
79   48109              1
80   48163              1
81   48171              1
82   48493              1
83   48115              1
84   48361              1
85   48145              1
86   48403              1
87   48427              1
88   48433              1
89   48179              1
90   48077              1
91   48455              1
92   48213              1
93   48193              1
94   48211              1
95   48187              1
96   48003              1
97   48477              1
98   48279              1
99   48035              1
100  48313              1
101  48317              1
102  48405              1
103  48149              1
104  48415              1
105  48381              1
106  48017              1
107  48151              1
108  48267              1
109  48067              1
110  48013              1
111  48413              1
112  48217              1
113  48495              1
114  48015              1
115  48251              1
116  48063              1
117  48369              1
118  48373              1
119  48391              1
120  48357              1
121  48349              1
122  48239              1
123  48437              1
124  48383              1
125  48185              1
126  48057              1
127  48449              1
128  48079              1
129  48165              1
130  48133              1
131  48429              1
132  48117              1
133  48273              1
134  48501              1
135  48051              1
136  48471              1
137  48435              1
138  48123              1
139  48043              1
140  48225              1
141  48153              1
142  48457              1
143  48475              1
144  48087              1
145  48049              1
146  48363              1
147  48323              1
148  48447              1
149  48365              1
150  48275              1
151  48353              1
152  48093              1
153  48281              1
154  48325              1
155  48307              1
156  48099              1
157  48445              1
158  48335              1
159  48069              1
160  48219              1
161  48223              1
162  48221              1
163  48161              1
164  48241              1
165  48237              1
166  48107              1
167  48095              1
168  48195              1
169  48409              1
170  48075              1
171  48233              1
172  48249              1
173  48463              1
174  48023              1
175  48305              1
176  48341              1
177  48143              1
178  48205              1
179  48203              1
180  48177              1
181  48425              1
182  48103              1
183  48467              1
184  48299              1
185  48389              1

In [21]:
# Bring in the hospitals dataframe
hosp = get_texas_hospitals()
# Get the value counts for each FIPS (county)
df = pd.DataFrame(hosp.FIPS.value_counts()).reset_index()

In [22]:

df.rename(columns={"FIPS": "num_hospitals"}, inplace=True)
df.rename(columns={"index": "FIPS"}, inplace=True)

In [23]:
df

      FIPS  num_hospitals
0    48201             84
1    48439             56
2    48113             51
3    48029             46
4    48453             29
5    48085             28
6    48141             19
7    48121             19
8    48339             16
9    48215             15
10   48021             14
11   48355             14
12   48157             13
13   48245             13
14   48491             12
15   48303             10
16   48061             10
17   48423             10
18   48027             10
19   48375              9
20   48181              8
21   48041              7
22   48485              7
23   48183              7
24   48037              6
25   48039              6
26   48479              6
27   48469              6
28   48441              5
29   48209              5
30   48135              5
31   48091              5
32   48005              4
33   48309              4
34   48167              4
35   48451              4
36   48329              4
37   48291              3
38   48461              3
39   48227              3
40   48089              3
41   48253              3
42   48347              3
43   48277              3
44   48397              3
45   48265              3
46   48073              3
47   48139              3
48   48481              2
49   48285              2
50   48321              2
51   48055              2
52   48331              2
53   48053              2
54   48001              2
55   48487              2
56   48503              2
57   48071              2
58   48337              2
59   48465              2
60   48231              2
61   48257              2
62   48499              2
63   48399              2
64   48147              2
65   48097              2
66   48197              2
67   48189              2
68   48293              2
69   48367              2
70   48083              2
71   48371              2
72   48497              2
73   48483              2
74   48127              1
75   48255              1
76   48207              1
77   48025              1
78   48401              1
79   48109              1
80   48163              1
81   48171              1
82   48493              1
83   48115              1
84   48361              1
85   48145              1
86   48403              1
87   48427              1
88   48433              1
89   48179              1
90   48077              1
91   48455              1
92   48213              1
93   48193              1
94   48211              1
95   48187              1
96   48003              1
97   48477              1
98   48279              1
99   48035              1
100  48313              1
101  48317              1
102  48405              1
103  48149              1
104  48415              1
105  48381              1
106  48017              1
107  48151              1
108  48267              1
109  48067              1
110  48013              1
111  48413              1
112  48217              1
113  48495              1
114  48015              1
115  48251              1
116  48063              1
117  48369              1
118  48373              1
119  48391              1
120  48357              1
121  48349              1
122  48239              1
123  48437              1
124  48383              1
125  48185              1
126  48057              1
127  48449              1
128  48079              1
129  48165              1
130  48133              1
131  48429              1
132  48117              1
133  48273              1
134  48501              1
135  48051              1
136  48471              1
137  48435              1
138  48123              1
139  48043              1
140  48225              1
141  48153              1
142  48457              1
143  48475              1
144  48087              1
145  48049              1
146  48363              1
147  48323              1
148  48447              1
149  48365              1
150  48275              1
151  48353              1
152  48093              1
153  48281              1
154  48325              1
155  48307              1
156  48099              1
157  48445              1
158  48335              1
159  48069              1
160  48219              1
161  48223              1
162  48221              1
163  48161              1
164  48241              1
165  48237              1
166  48107              1
167  48095              1
168  48195              1
169  48409              1
170  48075              1
171  48233              1
172  48249              1
173  48463              1
174  48023              1
175  48305              1
176  48341              1
177  48143              1
178  48205              1
179  48203              1
180  48177              1
181  48425              1
182  48103              1
183  48467              1
184  48299              1
185  48389              1

In [24]:
def create_bed_count_df():
    """
    Uses the get_texas_hospitals function and creates a dataframe
    totaling the number of hospitals homes per county
    """
    # Bring in the hospitals dataframe
    beds = get_texas_hospitals()

    # Get the value counts for each FIPS (county)
    df = pd.DataFrame(beds.FIPS.value_counts()).reset_index()

    # Rename the columns
    df.rename(columns={"FIPS": "bed_count"}, inplace=True)
    df.rename(columns={"index": "FIPS"}, inplace=True)

    df["FIPS"] = df.FIPS.astype(int)

    return df

In [25]:
# beds = create_bed_count_df()

In [26]:
df = clean.get_data()

In [27]:
df.bed_count

0       2.0
1       1.0
2       4.0
3       0.0
4       0.0
5       0.0
6       1.0
7       1.0
8       1.0
9       0.0
10     14.0
11      1.0
12      1.0
13     10.0
14     46.0
15      0.0
16      0.0
17      1.0
18      6.0
19      6.0
20      7.0
21      1.0
22      0.0
23      0.0
24      1.0
25      1.0
26      2.0
27      2.0
28      1.0
29      0.0
30     10.0
31      1.0
32      0.0
33      1.0
34      1.0
35      2.0
36      3.0
37      1.0
38      1.0
39      1.0
40      0.0
41      2.0
42     28.0
43      1.0
44      3.0
45      5.0
46      1.0
47      1.0
48      2.0
49      1.0
50      0.0
51      1.0
52      0.0
53      1.0
54      1.0
55      0.0
56     51.0
57      1.0
58      1.0
59      0.0
60     19.0
61      1.0
62      0.0
63      1.0
64      0.0
65      0.0
66      1.0
67      5.0
68      0.0
69      3.0
70     19.0
71      1.0
72      1.0
73      2.0
74      1.0
75      1.0
76      1.0
77      0.0
78     13.0
79      0.0
80      1.0
81      1.0
82      1.0
83      4.0
84      0.0
85      1.0
86      0.0
87      0.0
88      1.0
89      1.0
90      8.0
91      7.0
92      1.0
93      1.0
94      2.0
95      0.0
96      1.0
97      1.0
98      2.0
99      0.0
100    84.0
101     1.0
102     1.0
103     1.0
104     5.0
105     1.0
106     1.0
107    15.0
108     1.0
109     1.0
110     1.0
111     1.0
112     1.0
113     3.0
114     0.0
115     2.0
116     1.0
117     0.0
118     1.0
119     1.0
120     1.0
121     0.0
122    13.0
123     0.0
124     1.0
125     1.0
126     3.0
127     1.0
128     2.0
129     0.0
130     0.0
131     0.0
132     3.0
133     1.0
134     0.0
135     0.0
136     1.0
137     1.0
138     3.0
139     1.0
140     1.0
141     0.0
142     2.0
143     0.0
144     0.0
145     3.0
146     2.0
147     0.0
148     0.0
149     1.0
150     0.0
151    10.0
152     1.0
153     1.0
154     4.0
155     0.0
156     1.0
157     0.0
158     1.0
159     0.0
160     2.0
161     1.0
162     1.0
163     0.0
164     4.0
165     2.0
166     0.0
167     1.0
168     2.0
169    16.0
170     1.0
171     0.0
172     0.0
173     3.0
174     1.0
175     0.0
176     1.0
177    14.0
178     1.0
179     0.0
180     1.0
181     1.0
182     1.0
183     2.0
184     1.0
185     2.0
186     1.0
187     9.0
188     0.0
189     0.0
190     1.0
191     1.0
192     0.0
193     0.0
194     1.0
195     1.0
196     0.0
197     0.0
198     3.0
199     2.0
200     1.0
201     1.0
202     1.0
203     0.0
204     1.0
205     0.0
206     1.0
207     1.0
208     0.0
209     0.0
210     0.0
211    10.0
212     1.0
213     1.0
214     1.0
215     0.0
216     1.0
217     1.0
218     1.0
219    56.0
220     5.0
221     0.0
222     1.0
223     1.0
224     1.0
225     4.0
226    29.0
227     1.0
228     1.0
229     0.0
230     3.0
231     1.0
232     2.0
233     1.0
234     6.0
235     1.0
236     0.0
237     1.0
238     1.0
239     6.0
240     2.0
241     2.0
242     7.0
243     2.0
244     0.0
245    12.0
246     1.0
247     1.0
248     2.0
249     2.0
250     1.0
251     2.0
252     0.0
253     0.0
Name: bed_count, dtype: float64

In [28]:
# df1 = df.join(beds.set_index('FIPS'), on = 'FIPS')