In [1]:
import pandas as pd
import jada_clean

Testing the clean income function from my cleaning file

In [2]:
food = jada_clean.acquire_food_data()
food

       FIPS  LACCESS_POP15
2523  48001   23111.241421
2524  48003    5015.975463
2525  48005   20927.331551
2526  48007    8865.511478
2527  48009    2147.672378
...     ...            ...
2772  48499    3222.188853
2773  48501    1562.352965
2774  48503    6142.001383
2775  48505    6065.681176
2776  48507    3702.027063

[254 rows x 2 columns]

- It works.
- Adjust the file path when copying the function over to the global prepare.py file

In [3]:
income = jada_clean.acquire_income_data()

Let's start joining all the data frames

In [9]:
food_and_income = income.join(food.set_index('FIPS'), on='FIPS')

In [5]:
def acquire_people_data():
    df = pd.read_csv("../Data/People.csv")
    # Restrict df to only Texas
    df = df[df.State == "TX"]
    # Keep only the columns we want and set index to FIPS
    good_columns = [
        "FIPS",
        "State",
        "County",
        "LandAreaSQMiles2010",
        # Population estimates
        "TotalPopEst2018",
        "PopDensity2010",
        "Age65AndOlderNum2010",
        "Under18Num2010",
        "NaturalChange1018",
        # Household size
        "AvgHHSize",
        "TotalOccHU",
        "OwnHomeNum",
        # Head of Household
        "FemaleHHNum",
        "TotalHH",
        "NonEnglishHHNum",
        "HH65PlusAloneNum",
        # Education columns
        "Ed1LessThanHSNum",
        "Ed2HSDiplomaOnlyNum",
        "Ed3SomeCollegeNum",
        "Ed4AssocDegreeNum",
        "Ed5CollegePlusNum",
        # Race columns
        "WhiteNonHispanicNum2010",
        "BlackNonHispanicNum2010",
        "AsianNonHispanicNum2010",
        "NativeAmericanNonHispanicNum2010",
        "HispanicNum2010",
        "MultipleRaceNum2010",
    ]
    df = df[good_columns].set_index("FIPS")
    return df

In [6]:
people = acquire_people_data()

In [7]:
people

,State,County,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,Under18Num2010,NaturalChange1018,AvgHHSize,TotalOccHU,...,Ed2HSDiplomaOnlyNum,Ed3SomeCollegeNum,Ed4AssocDegreeNum,Ed5CollegePlusNum,WhiteNonHispanicNum2010,BlackNonHispanicNum2010,AsianNonHispanicNum2010,NativeAmericanNonHispanicNum2010,HispanicNum2010,MultipleRaceNum2010
FIPS,,,,,,,,,,,,,,,,,,,,,
48000,TX,Texas,261231.71,28701845.0,96.26,2601886,6865824,1658238.0,2.86,9553046,...,4448881,3892527,1261050,5219469,11397345,2886825,948426,80586,9460921,679001
48001,TX,Anderson,1062.60,58057.0,55.01,7338,11475,-495.0,2.69,16459,...,15224,10696,2807,4931,35792,12222,283,192,9287,993
48003,TX,Andrews,1500.71,18128.0,9.85,1663,4312,1408.0,3.22,5508,...,3898,2161,753,1103,7083,199,85,95,7195,292
48005,TX,Angelina,797.78,87092.0,108.77,11843,23206,2539.0,2.75,30783,...,18265,14230,4578,9344,54889,12840,744,255,17145,1524
48007,TX,Aransas,252.07,23792.0,91.87,5602,4523,-760.0,2.58,9432,...,5392,4764,1302,3936,16350,258,443,118,5690,523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48499,TX,Wood,645.23,45129.0,65.04,10148,8528,-1611.0,2.56,16531,...,10919,8727,2203,5246,35628,1951,156,198,3551,593
48501,TX,Yoakum,799.71,8591.0,9.85,895,2501,758.0,3.20,2676,...,1445,800,353,817,3090,55,26,30,4622,210
48503,TX,Young,914.47,18045.0,20.29,3422,4459,-238.0,2.51,7105,...,4371,3142,471,2438,14959,220,55,83,3045,358
48505,TX,Zapata,998.41,14190.0,14.04,1460,4805,1504.0,3.25,4405,...,2378,1282,338,835,861,11,28,16,13084,78
48507,TX,Zavala,1297.41,11983.0,9.00,1408,3660,772.0,3.40,3509,...,2240,1181,395,614,647,35,3,9,10961,164