In [1]:
import pandas as pd
# import jada_clean
import prep
import warnings
warnings.filterwarnings("ignore")

Testing the clean income function from my cleaning file

In [2]:
# food = prep.acquire_food_data()

# income = prep.acquire_income_data()

# people = prep.acquire_people_data()

# veteran = prep.acquire_veteran_data()

# jobs = prep.acquire_jobs_data()

# county_class = prep.acquire_tx_county_class()

# nursing = prep.create_nursing_home_counts_df()

# hospital = prep.create_hospital_count_df()

# covid = prep.acquire_covid_cases()

In [3]:
# df = food.join(income.set_index('FIPS'), on='FIPS')
# df.head()

# df1 = df.join(people.set_index('FIPS'), on='FIPS')

# df1.head()

# df2 = df1.join(veteran.set_index('FIPS'), on='FIPS')

# df2.head()

# df3 = df2.join(jobs.set_index('FIPS'), on='FIPS')

# df3.head()

# df4 = df3.join(county_class.set_index('FIPS'), on='FIPS')

# df4.head()

# df5 = df4.join(hospital.set_index('FIPS'), on='FIPS')

# df5.head()

# df6 = df5.merge(covid, how = 'left', on = 'County')
# df6.head()

# df5 = nursing.merge(df4, how = 'right',  on='County')

In [4]:
df = prep.merge_dataframes()
df.head()

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,...,Type_2015_Recreation_NO,Low_Employment_2015_update,Population_loss_2015_update,Retirement_Destination_2015_Update,HiAmenity,Metro_Adjacent2013,num_hospitals,population,num_covid_cases,infection_pct
0,23111.241421,anderson,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,...,0.0,1.0,0.0,0.0,0.0,0.0,2.0,58199.0,1003.0,1.723397
1,5015.975463,andrews,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,22269.0,33.0,0.148188
2,20927.331551,angelina,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,...,0.0,0.0,0.0,0.0,1.0,0.0,4.0,90437.0,352.0,0.389221
3,8865.511478,aransas,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,...,1.0,1.0,0.0,1.0,1.0,0.0,NaN,27699.0,7.0,0.025272
4,2147.672378,archer,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,8344.0,3.0,0.035954