In [1]:
import pandas as pd
import jada_clean
import prep

Testing the clean income function from my cleaning file

In [2]:
# food = jada_clean.acquire_food_data()
# food

# food.info()

# - It works.
# - Adjust the file path when copying the function over to the global prepare.py file

# income = jada_clean.acquire_income_data()

# Let's start joining all the data frames

# food_and_income = income.join(food.set_index('FIPS'), on='FIPS')

# def acquire_people_data():
#     df = pd.read_csv("../Data/People.csv")
#     # Restrict df to only Texas
#     df = df[df.State == "TX"]
#     # Keep only the columns we want and set index to FIPS
#     good_columns = [
#         "FIPS",
#         "LandAreaSQMiles2010",
#         # Population estimates
#         "TotalPopEst2018",
#         "PopDensity2010",
#         "Age65AndOlderNum2010",
#         "Under18Num2010",
#         "NaturalChange1018",
#         # Household size
#         "AvgHHSize",
#         "TotalOccHU",
#         "OwnHomeNum",
#         # Head of Household
#         "FemaleHHNum",
#         "TotalHH",
#         "NonEnglishHHNum",
#         "HH65PlusAloneNum",
#         # Education columns
#         "Ed1LessThanHSNum",
#         "Ed2HSDiplomaOnlyNum",
#         "Ed3SomeCollegeNum",
#         "Ed4AssocDegreeNum",
#         "Ed5CollegePlusNum",
#         # Race columns
#         "WhiteNonHispanicNum2010",
#         "BlackNonHispanicNum2010",
#         "AsianNonHispanicNum2010",
#         "NativeAmericanNonHispanicNum2010",
#         "HispanicNum2010",
#         "MultipleRaceNum2010",
#     ]
#     df = df[good_columns]
#     return df

# people = acquire_people_data()

# people

# food_income_people = food_and_income.join(people.set_index('FIPS'), on='FIPS')

# food_income_people

# def acquire_veteran_data():
#     df = pd.read_csv("../Data/Veterans.csv")
#     # Restrict df to only Texas
#     df = df[df.State == "TX"]
#     # Keep only the columns we want and set index to FIPS
#     good_columns = [
#         "FIPS",
#         "State",
#         "County",
#         # Income for both vets and non-vets
#         "MedianVetsInc",
#         "MedianNonVetsInc",
#         # Number of vets 18 and over
#         "Vets18ONum",
#         # Number of vets in civilian labor force
#         "CLFVets18to64Num",
#         "NonVetsDisabilty",
#         "VetsDisabilty",
#         "NonVetsPoor",
#         "VetsPoor",
#     ]
#     df = df[good_columns]
#     return df

# veteran = acquire_veteran_data()
# veteran

# food_income_people_veteran = veteran.join(food_income_people.set_index('FIPS'), on='FIPS')

# food_income_people_veteran

# def acquire_jobs_data():
#     df = pd.read_csv("../Data/Jobs.csv")
#     # Restrict df to only Texas
#     df = df[df.State == "TX"]
#     # Keep only the columns we want and set index to FIPS
#     good_columns = ['FIPS',
#         # unemployment rate in 2018
#         'UnempRate2018',
#         'NumUnemployed2018',
#         'NumEmployed2018','NumCivLaborforce2018',
#         # percentage of workforce in various working industries 
#         'PctEmpAgriculture','PctEmpMining','PctEmpConstruction','PctEmpManufacturing',
#         'PctEmpTrade','PctEmpTrans','PctEmpInformation','PctEmpFIRE','PctEmpServices','PctEmpGovt'
#     ]
#     df = df[good_columns]
#     return df

# jobs = acquire_jobs_data()

# jobs

# df = food_income_people_veteran.join(jobs.set_index('FIPS'), on='FIPS')

# df

# def acquire_covid_cases():
#     df = pd.read_csv("../Data/time_series_covid19_confirmed_US.csv")
#     # Restrict df to Texas
#     df = df[df.Province_State == "Texas"]
#     # Keep only most recent covid data
#     columns_to_keep = ["FIPS", "Admin2", "6/16/20"]
#     df = df[columns_to_keep]
#     # Rename columns, make FIPS be integer, and set index to FIPS
#     df = (
#         df.astype({"FIPS": "int"})
#         .rename(columns={"Admin2": "county", "6/16/20": "num_covid_cases"})
#     )
#     return df

# covid = acquire_covid_cases()

# covid

# df1 = df.join(covid.set_index('FIPS'), on='FIPS')

# df1

# def acquire_texas_hospitals():
#     """Uses hospitals csv and return just the open texas hospitals"""
#     hospitals = pd.read_csv("../Data/Hospitals.csv")

#     # create mask to filter for hospitals in TX
#     mask = hospitals.STATE == "TX"
#     tx_hospitals = hospitals[mask]

#     # drop useless columns
#     tx_hospitals = tx_hospitals.drop(
#         columns=[
#             "X",
#             "Y",
#             "FID",
#             "ID",
#             "ZIP4",
#             "TELEPHONE",
#             "POPULATION",
#             "COUNTRY",
#             "NAICS_CODE",
#             "SOURCE",
#             "SOURCEDATE",
#             "VAL_METHOD",
#             "VAL_DATE",
#             "WEBSITE",
#             "ALT_NAME",
#             "TTL_STAFF",
#             "BEDS",
#             "TRAUMA",
#             "HELIPAD",
#         ]
#     )

#     # rename county_fips to fips
#     tx_hospitals.rename(columns={"COUNTYFIPS": "FIPS"}, inplace=True)
#     tx_hospitals = tx_hospitals.astype({"FIPS": "int"})

#     # drop the closed hospitlas
#     mask = tx_hospitals.STATUS == "OPEN"
#     tx_hospitals = tx_hospitals[mask]

#     return tx_hospitals

# hospitals = acquire_texas_hospitals()
# hospitals

# hospitals.info()

# df1.info()

# # df2 = df1.join(hospitals.set_index('FIPS'), on='FIPS')

# # df2

In [3]:
food = prep.acquire_food_data()

In [4]:
income = prep.acquire_income_data()

In [5]:
people = prep.acquire_people_data()

In [6]:
veteran = prep.acquire_veteran_data()

In [7]:
jobs = prep.acquire_jobs_data()

In [8]:
covid = prep.acquire_covid_cases()

In [9]:
county_class = prep.acquire_tx_county_class()

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [10]:
df = food.join(income.set_index('FIPS'), on='FIPS')

In [11]:
df.head()

,LACCESS_POP15,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum
FIPS,,,,,
48001,23111.241421,45969.0,4.287712,2486.0,8778.0
48003,5015.975463,84946.0,3.720851,774.0,1922.0
48005,20927.331551,46653.0,7.613627,5855.0,15052.0
48007,8865.511478,46912.0,9.002793,1423.0,4642.0
48009,2147.672378,61190.0,3.490241,268.0,922.0

In [12]:
df1 = df.join(people.set_index('FIPS'), on='FIPS')

In [13]:
df1.head()

,LACCESS_POP15,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,Under18Num2010,...,Ed2HSDiplomaOnlyNum,Ed3SomeCollegeNum,Ed4AssocDegreeNum,Ed5CollegePlusNum,WhiteNonHispanicNum2010,BlackNonHispanicNum2010,AsianNonHispanicNum2010,NativeAmericanNonHispanicNum2010,HispanicNum2010,MultipleRaceNum2010
FIPS,,,,,,,,,,,,,,,,,,,,,
48001,23111.241421,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,11475,...,15224,10696,2807,4931,35792,12222,283,192,9287,993
48003,5015.975463,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,4312,...,3898,2161,753,1103,7083,199,85,95,7195,292
48005,20927.331551,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,23206,...,18265,14230,4578,9344,54889,12840,744,255,17145,1524
48007,8865.511478,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,4523,...,5392,4764,1302,3936,16350,258,443,118,5690,523
48009,2147.672378,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,2185,...,2057,1655,462,1449,8182,34,18,47,675,134

In [14]:
df2 = df1.join(veteran.set_index('FIPS'), on='FIPS')

In [15]:
df2.head()

,LACCESS_POP15,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,Under18Num2010,...,State,County,MedianVetsInc,MedianNonVetsInc,Vets18ONum,CLFVets18to64Num,NonVetsDisabilty,VetsDisabilty,NonVetsPoor,VetsPoor
FIPS,,,,,,,,,,,,,,,,,,,,,
48001,23111.241421,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,11475,...,TX,Anderson,34618.0,21739.0,4012.0,2307.0,3018.0,253.0,3219.0,237.0
48003,5015.975463,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,4312,...,TX,Andrews,49625.0,32142.0,685.0,478.0,797.0,28.0,891.0,0.0
48005,20927.331551,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,23206,...,TX,Angelina,31119.0,23093.0,5929.0,3077.0,7252.0,780.0,8112.0,478.0
48007,8865.511478,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,4523,...,TX,Aransas,31986.0,21220.0,2584.0,1102.0,1767.0,326.0,2775.0,207.0
48009,2147.672378,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,2185,...,TX,Archer,40500.0,30941.0,625.0,326.0,563.0,44.0,383.0,8.0

In [16]:
df3 = df2.join(jobs.set_index('FIPS'), on='FIPS')

In [17]:
df3.head()

,LACCESS_POP15,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,Under18Num2010,...,PctEmpAgriculture,PctEmpMining,PctEmpConstruction,PctEmpManufacturing,PctEmpTrade,PctEmpTrans,PctEmpInformation,PctEmpFIRE,PctEmpServices,PctEmpGovt
FIPS,,,,,,,,,,,,,,,,,,,,,
48001,23111.241421,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,11475,...,1.905654,6.919713,5.435801,6.175154,20.425909,6.638550,0.494637,3.097990,39.529314,9.377278
48003,5015.975463,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,4312,...,1.277217,25.118599,7.772777,5.400803,12.236954,9.147306,1.423185,5.339983,30.312614,1.970563
48005,20927.331551,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,23206,...,2.012354,1.953660,6.836412,11.724755,15.592946,4.309791,0.531038,4.206378,48.601135,4.231532
48007,8865.511478,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,4523,...,1.157430,3.540951,12.359000,4.963217,13.859735,3.089750,0.519863,4.717999,49.759686,6.032369
48009,2147.672378,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,2185,...,5.336374,4.424173,7.366021,7.708096,15.963512,4.811859,0.957811,5.267959,42.850627,5.313569

In [18]:
df4 = df3.join(covid.set_index('FIPS'), on='FIPS')

In [19]:
df4.head()

,LACCESS_POP15,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,Under18Num2010,...,PctEmpConstruction,PctEmpManufacturing,PctEmpTrade,PctEmpTrans,PctEmpInformation,PctEmpFIRE,PctEmpServices,PctEmpGovt,county,num_covid_cases
FIPS,,,,,,,,,,,,,,,,,,,,,
48001,23111.241421,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,11475,...,5.435801,6.175154,20.425909,6.638550,0.494637,3.097990,39.529314,9.377278,Anderson,102
48003,5015.975463,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,4312,...,7.772777,5.400803,12.236954,9.147306,1.423185,5.339983,30.312614,1.970563,Andrews,30
48005,20927.331551,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,23206,...,6.836412,11.724755,15.592946,4.309791,0.531038,4.206378,48.601135,4.231532,Angelina,331
48007,8865.511478,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,4523,...,12.359000,4.963217,13.859735,3.089750,0.519863,4.717999,49.759686,6.032369,Aransas,7
48009,2147.672378,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,2185,...,7.366021,7.708096,15.963512,4.811859,0.957811,5.267959,42.850627,5.313569,Archer,3

In [20]:
df5 = df4.join(county_class.set_index('FIPS'), on='FIPS')

In [21]:
df5.head()

,LACCESS_POP15,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,Under18Num2010,...,Type_2015_Farming_NO,Type_2015_Manufacturing_NO,Type_2015_Mining_NO,Type_2015_Government_NO,Type_2015_Recreation_NO,Low_Employment_2015_update,Population_loss_2015_update,Retirement_Destination_2015_Update,HiAmenity,Metro_Adjacent2013
FIPS,,,,,,,,,,,,,,,,,,,,,
48001,23111.241421,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,11475,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
48003,5015.975463,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,4312,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
48005,20927.331551,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,23206,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
48007,8865.511478,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,4523,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
48009,2147.672378,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,2185,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
# def merge_dataframes():
#     '''
#     This function creates dataframes from each csv and exxcel file
#     and then merges them together
#     '''
#     # create each dataframe
#     food = prep.acquire_food_data()
#     income = prep.acquire_income_data()
#     people = prep.acquire_people_data()
#     veteran = prep.acquire_veteran_data()
#     jobs = prep.acquire_jobs_data()
#     covid = prep.acquire_covid_cases()
#     county_class = prep.acquire_tx_county_class()
    
#     # merge all dataframes into one big one
#     df = food.join(income.set_index('FIPS'), on='FIPS')
#     df1 = df.join(people.set_index('FIPS'), on='FIPS')
#     df2 = df1.join(veteran.set_index('FIPS'), on='FIPS')
#     df3 = df2.join(jobs.set_index('FIPS'), on='FIPS')
#     df4 = df3.join(covid.set_index('FIPS'), on='FIPS')
#     df5 = df4.join(county_class.set_index('FIPS'), on='FIPS')
    
#     df = df5
    
#     return df

In [23]:
df = prep.merge_dataframes()

In [24]:
df.head()

,LACCESS_POP15,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,Under18Num2010,...,Type_2015_Farming_NO,Type_2015_Manufacturing_NO,Type_2015_Mining_NO,Type_2015_Government_NO,Type_2015_Recreation_NO,Low_Employment_2015_update,Population_loss_2015_update,Retirement_Destination_2015_Update,HiAmenity,Metro_Adjacent2013
FIPS,,,,,,,,,,,,,,,,,,,,,
48001,23111.241421,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,11475,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
48003,5015.975463,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,4312,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
48005,20927.331551,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,23206,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
48007,8865.511478,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,4523,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
48009,2147.672378,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,2185,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0