In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Acquire hospital data

In [2]:
#read in file from main Data folder
hospitals = pd.read_csv("../Data/Hospitals.csv")

In [3]:
#take a look at the file
hospitals.head(5)

,X,Y,FID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,-1.331889e+07,4.346975e+06,1,5793230,CENTRAL VALLEY GENERAL HOSPITAL,1025 NORTH DOUTY STREET,HANFORD,CA,93230,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.hanfordhealth.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,49,NOT AVAILABLE,N
1,-1.322651e+07,4.049626e+06,2,53391362,LOS ROBLES HOSPITAL & MEDICAL CENTER - EAST CA...,150 VIA MERIDA,WESTLAKE VILAGE,CA,91362,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.losrobleshospital.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,62,NOT AVAILABLE,N
2,-1.315620e+07,4.031978e+06,3,11190023,EAST LOS ANGELES DOCTORS HOSPITAL,4060 WHITTIER BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.elalax.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,127,NOT AVAILABLE,N
3,-1.317190e+07,4.041752e+06,4,17090028,SOUTHERN CALIFORNIA HOSPITAL AT HOLLYWOOD,6245 DE LONGPRE AVENUE,HOLLYWOOD,CA,90028,NOT AVAILABLE,...,2014/02/10 00:00:00,http://sch-hollywood.com/,NOT AVAILABLE,HOLLYWOOD COMMUNITY HOSPITAL OF HOLLYWOOD,6,PROPRIETARY,-999,100,NOT AVAILABLE,N
4,-1.313208e+07,4.037270e+06,5,23691706,KINDRED HOSPITAL BALDWIN PARK,14148 FRANCISQUITO AVENUE,BALDWIN PARK,CA,91706,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.khbaldwinpark.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,95,NOT AVAILABLE,N

In [4]:
#take a look at column names
hospitals.columns

Index(['X', 'Y', 'FID', 'ID', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP',
       'ZIP4', 'TELEPHONE', 'TYPE', 'STATUS', 'POPULATION', 'COUNTY',
       'COUNTYFIPS', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'NAICS_CODE',
       'NAICS_DESC', 'SOURCE', 'SOURCEDATE', 'VAL_METHOD', 'VAL_DATE',
       'WEBSITE', 'STATE_ID', 'ALT_NAME', 'ST_FIPS', 'OWNER', 'TTL_STAFF',
       'BEDS', 'TRAUMA', 'HELIPAD'],
      dtype='object')

In [5]:
# what is hospital type
hospitals.TYPE.value_counts()

GENERAL ACUTE CARE    4481
CRITICAL ACCESS       1027
PSYCHIATRIC            759
LONG TERM CARE         431
REHABILITATION         378
MILITARY               216
SPECIAL                145
CHILDREN               130
WOMEN                   20
CHRONIC DISEASE          9
Name: TYPE, dtype: int64

In [6]:
# what is status
hospitals.STATUS.value_counts()

OPEN      7277
CLOSED     319
Name: STATUS, dtype: int64

**Need to filter out all the closed facilities**

In [7]:
# what is NAICS_CODE
hospitals.NAICS_CODE.value_counts()

622110    6039
622310     886
622210     671
Name: NAICS_CODE, dtype: int64

In [8]:
# what is NAICS_DESC
hospitals.NAICS_DESC.value_counts()

GENERAL MEDICAL AND SURGICAL HOSPITALS                                   5945
PSYCHIATRIC AND SUBSTANCE ABUSE HOSPITALS                                 611
SPECIALTY (EXCEPT PSYCHIATRIC AND SUBSTANCE ABUSE) HOSPITALS              446
REHABILITATION HOSPITALS (EXCEPT ALCOHOLISM, DRUG ADDICTION)              343
CHILDREN'S HOSPITALS, GENERAL                                              94
EXTENDED CARE HOSPITALS (EXCEPT MENTAL, SUBSTANCE ABUSE)                   43
CHILDREN'S HOSPITALS, SPECIALTY (EXCEPT PSYCHIATRIC, SUBSTANCE ABUSE)      21
HOSPITALS, PSYCHIATRIC (EXCEPT CONVALESCENT)                               21
HOSPITALS, ADDICTION                                                       14
ORTHOPEDIC HOSPITALS                                                       13
HOSPITALS, SUBSTANCE ABUSE                                                 13
CHILDREN'S HOSPITALS, PSYCHIATRIC OR SUBSTANCE ABUSE                        9
CHRONIC DISEASE HOSPITALS                                                   9
HOSPITALS, SPECIALTY (EXCEPT PSYCHIATRIC, SUBSTANCE ABUSE)                  6
MATERNITY HOSPITALS                                                         5
HOSPITALS, PSYCHIATRIC PEDIATRIC                                            2
MENTAL HEALTH HOSPITALS                                                     1
Name: NAICS_DESC, dtype: int64

In [9]:
# what is SOURCE
hospitals.SOURCE.value_counts()

https://hhs.texas.gov/doing-business-hhs/provider-portals/health-care-facilities-regulation    754
http://www.oshpd.ca.gov/hid/facility-listing.html                                              535
http://www.floridahealthfinder.gov/facilitylocator/facilitysearch.aspx                         344
http://publicapps.odh.ohio.gov/eid/provider_search.aspx                                        284
https://profiles.health.ny.gov/hospital/county_or_region/                                      273
                                                                                              ...
http://www.wvdhhr.org/ohflac/facilitylookup/default.aspx                                         1
http://www.dphhs.mt.gov/qad/healthcarefacilitieslist/                                            1
http://csimt.gov/wp-content/uploads/mt-hospital-list1.pdf                                        1
http://www.palauhealth.org/files/2013%20national%20health%20profile_%20final%20121214.pdf        1
https://www.michigan.gov/lara/0,4601,7-154-89334_72600_73835---,00.html                          1
Name: SOURCE, Length: 101, dtype: int64

In [10]:
# what is VAL_METHOD
hospitals.VAL_METHOD.value_counts()

IMAGERY          4439
IMAGERY/OTHER    3157
Name: VAL_METHOD, dtype: int64

In [11]:
# what is VAL_DATE
hospitals.VAL_DATE.value_counts()

2014/02/10 00:00:00    3231
2014/03/12 00:00:00     763
2020/05/05 00:00:00     191
2020/04/06 00:00:00     132
2020/04/29 00:00:00     125
                       ...
2013/11/27 00:00:00       1
2016/09/23 00:00:00       1
2013/09/19 00:00:00       1
2013/09/27 00:00:00       1
2015/02/19 00:00:00       1
Name: VAL_DATE, Length: 287, dtype: int64

In [12]:
# what is OWNER
hospitals.OWNER.value_counts()

NON-PROFIT                         3515
PROPRIETARY                        2076
GOVERNMENT - DISTRICT/AUTHORITY     517
GOVERNMENT - LOCAL                  502
NOT AVAILABLE                       428
GOVERNMENT - STATE                  290
GOVERNMENT - FEDERAL                266
LIMITED LIABILITY COMPANY             2
Name: OWNER, dtype: int64

In [13]:
# what is TTL_STAFF
hospitals.TTL_STAFF.value_counts()

-999    7596
Name: TTL_STAFF, dtype: int64

In [14]:
# what is TRAUMA
hospitals.TRAUMA.value_counts()

NOT AVAILABLE                                     5472
LEVEL IV                                           876
LEVEL III                                          481
LEVEL II                                           320
LEVEL I                                            202
TRH                                                 38
TRF                                                 33
LEVEL I, LEVEL II PEDIATRIC                         30
CTH                                                 26
LEVEL I PEDIATRIC                                   25
LEVEL I, LEVEL I PEDIATRIC                          18
LEVEL V                                             17
LEVEL II, LEVEL II PEDIATRIC                        13
ATH                                                  9
LEVEL II PEDIATRIC                                   6
RTC                                                  6
RTH                                                  3
LEVEL III, LEVEL III PEDIATRIC                       3
LEVEL PEDIATRIC                                      3
LEVEL III, LEVEL I REHAB                             1
LEVEL II, LEVEL II REHAB                             1
RPTC                                                 1
LEVEL II REHAB                                       1
LEVEL I, LEVEL I PEDIATRIC, LEVEL I REHAB            1
LEVEL II, LEVEL III PEDIATRIC, LEVEL II REHAB        1
LEVEL III, LEVEL III PEDIATRIC, LEVEL II REHAB       1
LEVEL IV, LEVEL II REHAB                             1
LEVEL I PEDIATRIC REHAB, LEVEL I REHAB               1
LEVEL I PEDIATRIC REHAB                              1
LEVEL III PEDIATRIC                                  1
LEVEL II, LEVEL PEDIATRIC                            1
PARC                                                 1
LEVEL I, LEVEL PEDIATRIC                             1
LEVEL III, LEVEL II REHAB                            1
Name: TRAUMA, dtype: int64

**Going to drop the following columns as they do not serve much purpose for our project:**
- X
- Y
- FID
- ID
- ZIP4
- TELEPHONE
- POPULATION
- COUNTRY
- NAICS_CODE
- SOURCE
- SOURCEDATE
- VAL_METHOD
- VAL_DATE
- WEBSITE
- ALT_NAME
- TTL_STAFF
- BEDS
- TRAUMA
- HELIPAD

In [15]:
# make a mask for Texas
mask = hospitals.STATE == "TX"

tx_hospitals = hospitals[mask]

In [16]:
# drop the columns listed above
tx_hospitals = tx_hospitals.drop(columns = ["X", "Y", "FID", "ID", "ZIP4", "TELEPHONE", 
                            "POPULATION", "COUNTRY", "NAICS_CODE", "SOURCE", "SOURCEDATE",
                            "VAL_METHOD", "VAL_DATE", "WEBSITE", "ALT_NAME", "TTL_STAFF",
                            "BEDS", "TRAUMA", "HELIPAD"])

In [17]:
tx_hospitals

,NAME,ADDRESS,CITY,STATE,ZIP,TYPE,STATUS,COUNTY,COUNTYFIPS,LATITUDE,LONGITUDE,NAICS_DESC,STATE_ID,ST_FIPS,OWNER
12,CORPUS CHRISTI SPECIALTY HOSPITAL,1310 THIRD STREET,CORPUS CHRISTI,TX,78414,GENERAL ACUTE CARE,CLOSED,NUECES,48355,27.778510,-97.396208,GENERAL MEDICAL AND SURGICAL HOSPITALS,NOT AVAILABLE,48,PROPRIETARY
20,CROCKETT MEDICAL CENTER,1100 EAST LOOP 304,CROCKETT,TX,77954,GENERAL ACUTE CARE,OPEN,HOUSTON,48225,31.323604,-95.438899,GENERAL MEDICAL AND SURGICAL HOSPITALS,NOT AVAILABLE,48,NON-PROFIT
234,DELL CHILDREN'S MEDICAL CENTER,4900 MUELLER BOULEVARD,AUSTIN,TX,78746,CHILDREN,OPEN,TRAVIS,48453,30.303111,-97.707022,"CHILDREN'S HOSPITALS, GENERAL",NOT AVAILABLE,48,NON-PROFIT
235,COOK CHILDREN'S MEDICAL CENTER,801 SEVENTH AVENUE,FORT WORTH,TX,76104,CHILDREN,OPEN,TARRANT,48439,32.737072,-97.341405,"CHILDREN'S HOSPITALS, GENERAL",NOT AVAILABLE,48,NON-PROFIT
253,COVENANT CHILDREN'S HOSPITAL,4015 22ND PLACE,LUBBOCK,TX,79410,CHILDREN,OPEN,LUBBOCK,48303,33.573403,-101.900592,"CHILDREN'S HOSPITALS, GENERAL",NOT AVAILABLE,48,NON-PROFIT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7558,TEXAS EMERGENCY HOSPITAL,300 EAST CROCKETT,CLEVELAND,TX,77328,GENERAL ACUTE CARE,OPEN,LIBERTY,48291,30.341783,-95.085307,GENERAL MEDICAL AND SURGICAL HOSPITALS,NOT AVAILABLE,48,PROPRIETARY
7561,LAKE TRAVIS ER LLC,5012 N FM 620 RD,AUSTIN,TX,78732,SPECIAL,OPEN,TRAVIS,48453,30.391347,-97.884935,SPECIALTY (EXCEPT PSYCHIATRIC AND SUBSTANCE AB...,100419,48,PROPRIETARY
7566,ENCOMPASS HEALTH REHABILITATION HOSPITAL OF PE...,2121 BUSINESS CENTER DRIVE,PEARLAND,TX,77584,SPECIAL,OPEN,BRAZORIA,48039,29.572906,-95.389833,"REHABILITATION HOSPITALS (EXCEPT ALCOHOLISM, D...",100402,48,PROPRIETARY
7567,BAYLOR SCOTT & WHITE SURGICAL HOSPITAL - FORT ...,1800 PARK PLACE AVENUE,FORT WORTH,TX,76110,GENERAL ACUTE CARE,OPEN,TARRANT,48439,32.727489,-97.347092,GENERAL MEDICAL AND SURGICAL HOSPITALS,100271,48,PROPRIETARY
7572,WISE HEALTH SURGICAL HOSPITAL,7218 CRAWFORD ROAD,ARGYLE,TX,76226,SPECIAL,OPEN,DENTON,48121,33.132137,-97.204726,SPECIALTY (EXCEPT PSYCHIATRIC AND SUBSTANCE AB...,100335,48,NON-PROFIT

In [18]:
tx_hospitals.rename(columns = {"COUNTYFIPS" : "FIPS"}, inplace = True)

In [19]:
tx_hospitals = tx_hospitals.set_index("FIPS")

In [20]:
tx_hospitals

,NAME,ADDRESS,CITY,STATE,ZIP,TYPE,STATUS,COUNTY,LATITUDE,LONGITUDE,NAICS_DESC,STATE_ID,ST_FIPS,OWNER
FIPS,,,,,,,,,,,,,,
48355,CORPUS CHRISTI SPECIALTY HOSPITAL,1310 THIRD STREET,CORPUS CHRISTI,TX,78414,GENERAL ACUTE CARE,CLOSED,NUECES,27.778510,-97.396208,GENERAL MEDICAL AND SURGICAL HOSPITALS,NOT AVAILABLE,48,PROPRIETARY
48225,CROCKETT MEDICAL CENTER,1100 EAST LOOP 304,CROCKETT,TX,77954,GENERAL ACUTE CARE,OPEN,HOUSTON,31.323604,-95.438899,GENERAL MEDICAL AND SURGICAL HOSPITALS,NOT AVAILABLE,48,NON-PROFIT
48453,DELL CHILDREN'S MEDICAL CENTER,4900 MUELLER BOULEVARD,AUSTIN,TX,78746,CHILDREN,OPEN,TRAVIS,30.303111,-97.707022,"CHILDREN'S HOSPITALS, GENERAL",NOT AVAILABLE,48,NON-PROFIT
48439,COOK CHILDREN'S MEDICAL CENTER,801 SEVENTH AVENUE,FORT WORTH,TX,76104,CHILDREN,OPEN,TARRANT,32.737072,-97.341405,"CHILDREN'S HOSPITALS, GENERAL",NOT AVAILABLE,48,NON-PROFIT
48303,COVENANT CHILDREN'S HOSPITAL,4015 22ND PLACE,LUBBOCK,TX,79410,CHILDREN,OPEN,LUBBOCK,33.573403,-101.900592,"CHILDREN'S HOSPITALS, GENERAL",NOT AVAILABLE,48,NON-PROFIT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48291,TEXAS EMERGENCY HOSPITAL,300 EAST CROCKETT,CLEVELAND,TX,77328,GENERAL ACUTE CARE,OPEN,LIBERTY,30.341783,-95.085307,GENERAL MEDICAL AND SURGICAL HOSPITALS,NOT AVAILABLE,48,PROPRIETARY
48453,LAKE TRAVIS ER LLC,5012 N FM 620 RD,AUSTIN,TX,78732,SPECIAL,OPEN,TRAVIS,30.391347,-97.884935,SPECIALTY (EXCEPT PSYCHIATRIC AND SUBSTANCE AB...,100419,48,PROPRIETARY
48039,ENCOMPASS HEALTH REHABILITATION HOSPITAL OF PE...,2121 BUSINESS CENTER DRIVE,PEARLAND,TX,77584,SPECIAL,OPEN,BRAZORIA,29.572906,-95.389833,"REHABILITATION HOSPITALS (EXCEPT ALCOHOLISM, D...",100402,48,PROPRIETARY
48439,BAYLOR SCOTT & WHITE SURGICAL HOSPITAL - FORT ...,1800 PARK PLACE AVENUE,FORT WORTH,TX,76110,GENERAL ACUTE CARE,OPEN,TARRANT,32.727489,-97.347092,GENERAL MEDICAL AND SURGICAL HOSPITALS,100271,48,PROPRIETARY
48121,WISE HEALTH SURGICAL HOSPITAL,7218 CRAWFORD ROAD,ARGYLE,TX,76226,SPECIAL,OPEN,DENTON,33.132137,-97.204726,SPECIALTY (EXCEPT PSYCHIATRIC AND SUBSTANCE AB...,100335,48,NON-PROFIT

In [21]:
#drop the closed hospitlas
mask = tx_hospitals.STATUS == "OPEN"
tx_hospitals = tx_hospitals[mask]

In [22]:
tx_hospitals.STATUS.value_counts()

OPEN    768
Name: STATUS, dtype: int64

In [23]:
#check for nulls
tx_hospitals.isnull().sum()

NAME          0
ADDRESS       0
CITY          0
STATE         0
ZIP           0
TYPE          0
STATUS        0
COUNTY        0
LATITUDE      0
LONGITUDE     0
NAICS_DESC    0
STATE_ID      0
ST_FIPS       0
OWNER         0
dtype: int64

In [24]:
#look at final shape
tx_hospitals.shape

(768, 14)

In [25]:
def get_texas_hospitals():
    """Uses hospitals csv and return just the open texas hospitals"""
    hospitals = pd.read_csv("../Data/Hospitals.csv")
    
    #create mask to filter for hospitals in TX
    mask = hospitals.STATE == "TX"
    tx_hospitals = hospitals[mask]
    
    #drop useless columns
    tx_hospitals = tx_hospitals.drop(columns = ["X", "Y", "FID", "ID", "ZIP4", "TELEPHONE", 
                            "POPULATION", "COUNTRY", "NAICS_CODE", "SOURCE", "SOURCEDATE",
                            "VAL_METHOD", "VAL_DATE", "WEBSITE", "ALT_NAME", "TTL_STAFF",
                            "BEDS", "TRAUMA", "HELIPAD"])
    
    #rename county_fips to fips
    tx_hospitals.rename(columns = {"COUNTYFIPS" : "FIPS"}, inplace = True)

    #drop the closed hospitlas
    mask = tx_hospitals.STATUS == "OPEN"
    tx_hospitals = tx_hospitals[mask]
    
    return tx_hospitals

In [26]:
get_texas_hospitals()

,NAME,ADDRESS,CITY,STATE,ZIP,TYPE,STATUS,COUNTY,FIPS,LATITUDE,LONGITUDE,NAICS_DESC,STATE_ID,ST_FIPS,OWNER
20,CROCKETT MEDICAL CENTER,1100 EAST LOOP 304,CROCKETT,TX,77954,GENERAL ACUTE CARE,OPEN,HOUSTON,48225,31.323604,-95.438899,GENERAL MEDICAL AND SURGICAL HOSPITALS,NOT AVAILABLE,48,NON-PROFIT
234,DELL CHILDREN'S MEDICAL CENTER,4900 MUELLER BOULEVARD,AUSTIN,TX,78746,CHILDREN,OPEN,TRAVIS,48453,30.303111,-97.707022,"CHILDREN'S HOSPITALS, GENERAL",NOT AVAILABLE,48,NON-PROFIT
235,COOK CHILDREN'S MEDICAL CENTER,801 SEVENTH AVENUE,FORT WORTH,TX,76104,CHILDREN,OPEN,TARRANT,48439,32.737072,-97.341405,"CHILDREN'S HOSPITALS, GENERAL",NOT AVAILABLE,48,NON-PROFIT
253,COVENANT CHILDREN'S HOSPITAL,4015 22ND PLACE,LUBBOCK,TX,79410,CHILDREN,OPEN,LUBBOCK,48303,33.573403,-101.900592,"CHILDREN'S HOSPITALS, GENERAL",NOT AVAILABLE,48,NON-PROFIT
380,HEART OF TEXAS MEMORIAL HOSPITAL,2008 NINE RD,BRADY,TX,76825,CRITICAL ACCESS,OPEN,MCCULLOCH,48307,31.117688,-99.346854,GENERAL MEDICAL AND SURGICAL HOSPITALS,NOT AVAILABLE,48,NON-PROFIT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7558,TEXAS EMERGENCY HOSPITAL,300 EAST CROCKETT,CLEVELAND,TX,77328,GENERAL ACUTE CARE,OPEN,LIBERTY,48291,30.341783,-95.085307,GENERAL MEDICAL AND SURGICAL HOSPITALS,NOT AVAILABLE,48,PROPRIETARY
7561,LAKE TRAVIS ER LLC,5012 N FM 620 RD,AUSTIN,TX,78732,SPECIAL,OPEN,TRAVIS,48453,30.391347,-97.884935,SPECIALTY (EXCEPT PSYCHIATRIC AND SUBSTANCE AB...,100419,48,PROPRIETARY
7566,ENCOMPASS HEALTH REHABILITATION HOSPITAL OF PE...,2121 BUSINESS CENTER DRIVE,PEARLAND,TX,77584,SPECIAL,OPEN,BRAZORIA,48039,29.572906,-95.389833,"REHABILITATION HOSPITALS (EXCEPT ALCOHOLISM, D...",100402,48,PROPRIETARY
7567,BAYLOR SCOTT & WHITE SURGICAL HOSPITAL - FORT ...,1800 PARK PLACE AVENUE,FORT WORTH,TX,76110,GENERAL ACUTE CARE,OPEN,TARRANT,48439,32.727489,-97.347092,GENERAL MEDICAL AND SURGICAL HOSPITALS,100271,48,PROPRIETARY
7572,WISE HEALTH SURGICAL HOSPITAL,7218 CRAWFORD ROAD,ARGYLE,TX,76226,SPECIAL,OPEN,DENTON,48121,33.132137,-97.204726,SPECIALTY (EXCEPT PSYCHIATRIC AND SUBSTANCE AB...,100335,48,NON-PROFIT

## Acquire County Classifications data

In [27]:
#read in file from main Data folder
county_class = pd.read_csv("../Data/County Classifications.csv")

In [28]:
#take a look at the file
county_class.head(5)

,FIPStxt,State,County,RuralUrbanContinuumCode2013,UrbanInfluenceCode2013,RuralUrbanContinuumCode2003,UrbanInfluenceCode2003,Metro2013,Nonmetro2013,Micropolitan2013,...,FarmDependent2003,ManufacturingDependent2000,LowEducation2000,RetirementDestination2000,PersistentPoverty2000,Noncore2013,Type_2015_Nonspecialized_NO,Metro_Adjacent2013,PersistentChildPoverty2004,RecreationDependent2000
0,1001,AL,Autauga,2.0,2.0,2.0,2.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1003,AL,Baldwin,3.0,2.0,4.0,5.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1005,AL,Barbour,6.0,6.0,6.0,6.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
3,1007,AL,Bibb,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,1009,AL,Blount,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [29]:
#take a look at column names
county_class.columns

Index(['FIPStxt', 'State', 'County', 'RuralUrbanContinuumCode2013',
       'UrbanInfluenceCode2013', 'RuralUrbanContinuumCode2003',
       'UrbanInfluenceCode2003', 'Metro2013', 'Nonmetro2013',
       'Micropolitan2013', 'Type_2015_Update', 'Type_2015_Farming_NO',
       'Type_2015_Manufacturing_NO', 'Type_2015_Mining_NO',
       'Type_2015_Government_NO', 'Type_2015_Recreation_NO',
       'Low_Education_2015_update', 'Low_Employment_2015_update',
       'Population_loss_2015_update', 'Retirement_Destination_2015_Update',
       'Perpov_1980_0711', 'PersistentChildPoverty_1980_2011', 'Hipov',
       'HiAmenity', 'HiCreativeClass2000', 'Gas_Change', 'Oil_Change',
       'Oil_Gas_Change', 'Metro2003', 'NonmetroNotAdj2003', 'NonmetroAdj2003',
       'Noncore2003', 'EconomicDependence2000', 'Nonmetro2003',
       'Micropolitan2003', 'FarmDependent2003', 'ManufacturingDependent2000',
       'LowEducation2000', 'RetirementDestination2000',
       'PersistentPoverty2000', 'Noncore2013', 'Type_2015_Nonspecialized_NO',
       'Metro_Adjacent2013', 'PersistentChildPoverty2004',
       'RecreationDependent2000'],
      dtype='object')

In [30]:
# get only TX datapoints
mask = county_class.State == "TX"
tx_county_class = county_class[mask]

In [31]:
tx_county_class

,FIPStxt,State,County,RuralUrbanContinuumCode2013,UrbanInfluenceCode2013,RuralUrbanContinuumCode2003,UrbanInfluenceCode2003,Metro2013,Nonmetro2013,Micropolitan2013,...,FarmDependent2003,ManufacturingDependent2000,LowEducation2000,RetirementDestination2000,PersistentPoverty2000,Noncore2013,Type_2015_Nonspecialized_NO,Metro_Adjacent2013,PersistentChildPoverty2004,RecreationDependent2000
2527,48001,TX,Anderson,7.0,8.0,5.0,8.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2528,48003,TX,Andrews,6.0,5.0,6.0,5.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2529,48005,TX,Angelina,5.0,8.0,5.0,8.0,0.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2530,48007,TX,Aransas,2.0,2.0,2.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
2531,48009,TX,Archer,3.0,2.0,3.0,2.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2776,48499,TX,Wood,6.0,6.0,6.0,6.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0
2777,48501,TX,Yoakum,7.0,9.0,7.0,9.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2778,48503,TX,Young,7.0,11.0,6.0,6.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2779,48505,TX,Zapata,6.0,5.0,6.0,6.0,0.0,1.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
2780,48507,TX,Zavala,7.0,9.0,7.0,9.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0

In [32]:
#rename the FIPS column
tx_county_class.rename(columns = {"FIPStxt" : "FIPS"}, inplace = True)

In [33]:
# set county FIPS as index
tx_county_class

,FIPS,State,County,RuralUrbanContinuumCode2013,UrbanInfluenceCode2013,RuralUrbanContinuumCode2003,UrbanInfluenceCode2003,Metro2013,Nonmetro2013,Micropolitan2013,...,FarmDependent2003,ManufacturingDependent2000,LowEducation2000,RetirementDestination2000,PersistentPoverty2000,Noncore2013,Type_2015_Nonspecialized_NO,Metro_Adjacent2013,PersistentChildPoverty2004,RecreationDependent2000
2527,48001,TX,Anderson,7.0,8.0,5.0,8.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2528,48003,TX,Andrews,6.0,5.0,6.0,5.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2529,48005,TX,Angelina,5.0,8.0,5.0,8.0,0.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2530,48007,TX,Aransas,2.0,2.0,2.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
2531,48009,TX,Archer,3.0,2.0,3.0,2.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2776,48499,TX,Wood,6.0,6.0,6.0,6.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0
2777,48501,TX,Yoakum,7.0,9.0,7.0,9.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2778,48503,TX,Young,7.0,11.0,6.0,6.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2779,48505,TX,Zapata,6.0,5.0,6.0,6.0,0.0,1.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
2780,48507,TX,Zavala,7.0,9.0,7.0,9.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0

'FIPStxt', 'State', 'County', 'RuralUrbanContinuumCode2013',
       'UrbanInfluenceCode2013', 'Metro2013', ,
       'Micropolitan2013', 'Type_2015_Update', 'Type_2015_Farming_NO',
       'Type_2015_Manufacturing_NO', 'Type_2015_Mining_NO',
       'Type_2015_Government_NO', 'Type_2015_Recreation_NO',
       'Low_Education_2015_update', 'Low_Employment_2015_update',
       'Population_loss_2015_update', 'Retirement_Destination_2015_Update',
       , , ,
       'HiAmenity', 'HiCreativeClass2000', 
       'Oil_Gas_Change', 
       
'Noncore2013', 'Type_2015_Nonspecialized_NO',
       'Metro_Adjacent2013', ,

In [34]:
columns_to_drop = ['RuralUrbanContinuumCode2003', 'UrbanInfluenceCode2003', 
                   'PersistentChildPoverty_1980_2011', 'Perpov_1980_0711',
                  'Hipov', 'Metro2003', 'NonmetroNotAdj2003', 'NonmetroAdj2003',
                   'Micropolitan2003', 'FarmDependent2003', 'ManufacturingDependent2000',
                   'LowEducation2000', 'RetirementDestination2000', 'PersistentPoverty2000',
                   'PersistentChildPoverty2004', 'RecreationDependent2000', 'Nonmetro2013',
                   'Gas_Change', 'Oil_Change', 'Type_2015_Nonspecialized_NO', 
                   'Low_Education_2015_update', 'HiCreativeClass2000', 'EconomicDependence2000',
                   'Nonmetro2003', 'Noncore2013', 'Oil_Gas_Change', 'Noncore2003',
                   'State', 'County', 'Type_2015_Update'      
                  ]

In [35]:
#drop the columns
tx_county_class = tx_county_class.drop(columns = columns_to_drop)

In [36]:
tx_county_class

,FIPS,RuralUrbanContinuumCode2013,UrbanInfluenceCode2013,Metro2013,Micropolitan2013,Type_2015_Farming_NO,Type_2015_Manufacturing_NO,Type_2015_Mining_NO,Type_2015_Government_NO,Type_2015_Recreation_NO,Low_Employment_2015_update,Population_loss_2015_update,Retirement_Destination_2015_Update,HiAmenity,Metro_Adjacent2013
2527,48001,7.0,8.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2528,48003,6.0,5.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2529,48005,5.0,8.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2530,48007,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
2531,48009,3.0,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2776,48499,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0
2777,48501,7.0,9.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2778,48503,7.0,11.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2779,48505,6.0,5.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2780,48507,7.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [37]:
tx_county_class.columns

Index(['FIPS', 'RuralUrbanContinuumCode2013', 'UrbanInfluenceCode2013',
       'Metro2013', 'Micropolitan2013', 'Type_2015_Farming_NO',
       'Type_2015_Manufacturing_NO', 'Type_2015_Mining_NO',
       'Type_2015_Government_NO', 'Type_2015_Recreation_NO',
       'Low_Employment_2015_update', 'Population_loss_2015_update',
       'Retirement_Destination_2015_Update', 'HiAmenity',
       'Metro_Adjacent2013'],
      dtype='object')

In [38]:
#check for nulls
tx_county_class.isnull().sum()

FIPS                                  0
RuralUrbanContinuumCode2013           0
UrbanInfluenceCode2013                0
Metro2013                             0
Micropolitan2013                      0
Type_2015_Farming_NO                  0
Type_2015_Manufacturing_NO            0
Type_2015_Mining_NO                   0
Type_2015_Government_NO               0
Type_2015_Recreation_NO               0
Low_Employment_2015_update            0
Population_loss_2015_update           0
Retirement_Destination_2015_Update    0
HiAmenity                             0
Metro_Adjacent2013                    0
dtype: int64

In [39]:
def acquire_tx_county_class():
    """
    Uses County Classifications csv to subset data into just
    Texas datapoints and drops misc. columns.
    """
    county_class = pd.read_csv("../Data/County Classifications.csv")
    
    # get only TX datapoints
    mask = county_class.State == "TX"
    tx_county_class = county_class[mask]
    
    #rename the FIPS column
    tx_county_class.rename(columns = {"FIPStxt" : "FIPS"}, inplace = True)
    
    columns_to_drop = ['RuralUrbanContinuumCode2003', 'UrbanInfluenceCode2003', 
                   'PersistentChildPoverty_1980_2011', 'Perpov_1980_0711',
                  'Hipov', 'Metro2003', 'NonmetroNotAdj2003', 'NonmetroAdj2003',
                   'Micropolitan2003', 'FarmDependent2003', 'ManufacturingDependent2000',
                   'LowEducation2000', 'RetirementDestination2000', 'PersistentPoverty2000',
                   'PersistentChildPoverty2004', 'RecreationDependent2000', 'Nonmetro2013',
                   'Gas_Change', 'Oil_Change', 'Type_2015_Nonspecialized_NO', 
                   'Low_Education_2015_update', 'HiCreativeClass2000', 'EconomicDependence2000',
                   'Nonmetro2003', 'Noncore2013', 'Oil_Gas_Change', 'Noncore2003',
                   'State', 'County', 'Type_2015_Update'      
                  ]
    
    #drop the columns
    tx_county_class = tx_county_class.drop(columns = columns_to_drop)
    
    return tx_county_class

In [40]:
acquire_tx_county_class()

,FIPS,RuralUrbanContinuumCode2013,UrbanInfluenceCode2013,Metro2013,Micropolitan2013,Type_2015_Farming_NO,Type_2015_Manufacturing_NO,Type_2015_Mining_NO,Type_2015_Government_NO,Type_2015_Recreation_NO,Low_Employment_2015_update,Population_loss_2015_update,Retirement_Destination_2015_Update,HiAmenity,Metro_Adjacent2013
2527,48001,7.0,8.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2528,48003,6.0,5.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2529,48005,5.0,8.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2530,48007,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
2531,48009,3.0,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2776,48499,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0
2777,48501,7.0,9.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2778,48503,7.0,11.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2779,48505,6.0,5.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2780,48507,7.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

# Aggregate Nursing Home Data

In [41]:
def acquire_nh_data():
    df = pd.read_excel("../Data/NursingFacilities.xlsx", header=1)
    # Keep only relevant columns
    columns_to_keep = [
        "Facility Name",
        "County_",
        "Service  Type",
        "Facility Certified",
        "Physical Address",
        "Physical Address CITY",
        "Physical Address Zipcode",
        "Total Licensed Capacity",
        "Alzheimer Capacity",
        "ICFIID Beds",
    ]
    df = df[columns_to_keep]
    # Rename columns
    df = df.rename(
        columns={
            "Facility Name": "NH_name",
            "County_": "county",
            "Service  Type": "type_of_service",
            "Facility Certified": "is_certified",
            "Physical Address": "address",
            "Physical Address CITY": "city",
            "Physical Address Zipcode": "zip",
            "Total Licensed Capacity": "total_capacity",
            "Alzheimer Capacity": "alz_capacity",
            "ICFIID Beds": "ICU_beds",
        }
    )
    # Fill na values based on zip codes
    df.loc[(df["county"].isnull()) & (df["zip"] == "78613"), "county"] = "WILLIAMSON"
    df.loc[(df["county"].isna()) & (df["zip"] == "76504"), "county"] = "BELL"
    df.loc[(df["county"].isna()) & (df["zip"] == "76802"), "county"] = "BROWN"
    # delete any characters past the first 5 letters of the zipcode
    df["zip"] = df["zip"].str[:5]
    # make zip column int
    df = df.astype({"zip": "int"})
    return df

In [42]:
nh = acquire_nh_data()

In [43]:
nh

,NH_name,county,type_of_service,is_certified,address,city,zip,total_capacity,alz_capacity,ICU_beds
0,CARE NURSING AND REHABILITATION,BROWN,MEDICARE/MEDICAID,YES,200 COUNTY RD 616,BROWNWOOD,76802,97,0,0
1,SAGEBROOK NURSING AND REHABILITATION,WILLIAMSON,MEDICARE/MEDICAID,NO,901 DISCOVERY BLVD,CEDAR PARK,78613,124,0,0
2,WESTON INN NURSING AND REHABILITATION,BELL,MEDICARE/MEDICAID,YES,2505 S. 37TH ST,TEMPLE,76504,120,0,0
3,ELKHART OAKS CARE CENTER,ANDERSON,MEDICARE/MEDICAID,YES,214 JONES RD,ELKHART,75839,98,0,0
4,GREENBRIER NURSING & REHABILITATION CENTER OF ...,ANDERSON,MEDICARE/MEDICAID,YES,2404 HWY 155,PALESTINE,75803,120,0,0
...,...,...,...,...,...,...,...,...,...,...
1208,SHINNERY OAKS COMMUNITY,YOAKUM,MEDICARE/MEDICAID,YES,711 WEST BROADWAY,DENVER CITY,79323,60,0,0
1209,GARDEN TERRACE HEALTHCARE CENTER,YOUNG,MEDICARE/MEDICAID,YES,1224 CORVADURA ST,GRAHAM,76450,116,0,0
1210,GRAHAM OAKS CARE CENTER,YOUNG,MEDICARE/MEDICAID,YES,1325 FIRST ST,GRAHAM,76450,120,0,0
1211,GRACE CARE CENTER OF OLNEY,YOUNG,MEDICARE/MEDICAID,YES,1402 W ELM,OLNEY,76374,99,0,0
1212,FALCON LAKE NURSING HOME,ZAPATA,MEDICARE/MEDICAID,YES,200 CARLA ST,ZAPATA,78076,59,0,0

In [44]:
col_to_keep = ["county"]

In [45]:
nh = nh[col_to_keep]

In [46]:
nh.county.value_counts()

HARRIS     103
DALLAS      79
TARRANT     77
BEXAR       68
TRAVIS      32
          ...
MENARD       1
NEWTON       1
WILLACY      1
FOARD        1
GAINES       1
Name: county, Length: 220, dtype: int64

In [47]:
nh = acquire_nh_data()

In [48]:
df = pd.DataFrame(nh.county.value_counts()).reset_index()

In [49]:
df.rename(columns = {"county": "num_nursing_homes"}, inplace = True)

In [50]:
df.rename(columns = {"index": "county"}, inplace = True)

In [51]:
df

      county  num_nursing_homes
0     HARRIS                103
1     DALLAS                 79
2    TARRANT                 77
3      BEXAR                 68
4     TRAVIS                 32
..       ...                ...
215   MENARD                  1
216   NEWTON                  1
217  WILLACY                  1
218    FOARD                  1
219   GAINES                  1

[220 rows x 2 columns]

In [52]:
def acquire_income_data():
    """
    Read in the Income csv, filter to only Texas counties,
    drop unecessary columns, return dataframe
    """
    # Read in csv and set inded to FIPS
    df = pd.read_csv("../Data/Income.csv")

    # Create a boolean mask where only observations where TX is the state are counted as true
    # Then apply the mask to the whole dataframe
    mask = df["State"] == "TX"
    df = df[mask]

    # Drop columns we don't need
    df = df.drop(
        columns=[
            "PerCapitaInc",
            "PovertyUnder18Pct",
            "PovertyAllAgesPct",
            "Deep_Pov_Children",
            "State",
        ]
    )
    
    return df

In [53]:
fips = acquire_income_data()

In [54]:
cols_to_keep = ["FIPS", "County"]

In [55]:
fips = fips[cols_to_keep]

In [56]:
fips

       FIPS    County
2571  48000     Texas
2572  48001  Anderson
2573  48003   Andrews
2574  48005  Angelina
2575  48007   Aransas
...     ...       ...
2821  48499      Wood
2822  48501    Yoakum
2823  48503     Young
2824  48505    Zapata
2825  48507    Zavala

[255 rows x 2 columns]

In [57]:
def create_county_fips_dataframe():
    """
    returns a dataframe with all county names and fips number
    """
    #bring in fips data
    fips = acquire_income_data()
    
    cols_to_keep = ["FIPS", "County"]
    
    #remove useless columns
    fips = fips[cols_to_keep]
    
    #lowercase the County names
    fips["County"] = fips["County"].str.lower()
    
    return fips

In [58]:
fips = create_county_fips_dataframe()

In [59]:
def create_nursing_home_counts_df():
    """
    Uses the acquire_nh_data function and creates a dataframe
    totaling the number of nursing homes per county
    """
    
    #Bring in the nursing home dataframe
    nh = acquire_nh_data()
    
    
    #Get the value counts for each county and create df
    df = pd.DataFrame(nh.county.value_counts()).reset_index()
    
    
    #Rename columns
    df.rename(columns = {"county": "num_nursing_homes"}, inplace = True)
    df.rename(columns = {"index": "County"}, inplace = True)
    
    #make county name all lower
    df["County"] = df["County"].str.lower()
    
    #sort the df counties
    df = df.sort_values(by = "County").reset_index()
    df = df.drop(columns = "index")
    
    #bring in fips df
    fips = create_county_fips_dataframe()
    
    # merge fips df with nuring home df
    fips_nh = fips.merge(df, left_on="County", right_on="County", how = "outer")
    
    return fips_nh

In [60]:
fips_nh = create_nursing_home_counts_df()

In [61]:
fips_nh

      FIPS    County  num_nursing_homes
0    48000     texas                NaN
1    48001  anderson                5.0
2    48003   andrews                1.0
3    48005  angelina                8.0
4    48007   aransas                2.0
..     ...       ...                ...
250  48499      wood                5.0
251  48501    yoakum                1.0
252  48503     young                3.0
253  48505    zapata                1.0
254  48507    zavala                NaN

[255 rows x 3 columns]

# Aggregate Hospital Data

In [62]:
hosp = get_texas_hospitals()

In [63]:
len(hosp)

768

In [64]:
hosp

,NAME,ADDRESS,CITY,STATE,ZIP,TYPE,STATUS,COUNTY,FIPS,LATITUDE,LONGITUDE,NAICS_DESC,STATE_ID,ST_FIPS,OWNER
20,CROCKETT MEDICAL CENTER,1100 EAST LOOP 304,CROCKETT,TX,77954,GENERAL ACUTE CARE,OPEN,HOUSTON,48225,31.323604,-95.438899,GENERAL MEDICAL AND SURGICAL HOSPITALS,NOT AVAILABLE,48,NON-PROFIT
234,DELL CHILDREN'S MEDICAL CENTER,4900 MUELLER BOULEVARD,AUSTIN,TX,78746,CHILDREN,OPEN,TRAVIS,48453,30.303111,-97.707022,"CHILDREN'S HOSPITALS, GENERAL",NOT AVAILABLE,48,NON-PROFIT
235,COOK CHILDREN'S MEDICAL CENTER,801 SEVENTH AVENUE,FORT WORTH,TX,76104,CHILDREN,OPEN,TARRANT,48439,32.737072,-97.341405,"CHILDREN'S HOSPITALS, GENERAL",NOT AVAILABLE,48,NON-PROFIT
253,COVENANT CHILDREN'S HOSPITAL,4015 22ND PLACE,LUBBOCK,TX,79410,CHILDREN,OPEN,LUBBOCK,48303,33.573403,-101.900592,"CHILDREN'S HOSPITALS, GENERAL",NOT AVAILABLE,48,NON-PROFIT
380,HEART OF TEXAS MEMORIAL HOSPITAL,2008 NINE RD,BRADY,TX,76825,CRITICAL ACCESS,OPEN,MCCULLOCH,48307,31.117688,-99.346854,GENERAL MEDICAL AND SURGICAL HOSPITALS,NOT AVAILABLE,48,NON-PROFIT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7558,TEXAS EMERGENCY HOSPITAL,300 EAST CROCKETT,CLEVELAND,TX,77328,GENERAL ACUTE CARE,OPEN,LIBERTY,48291,30.341783,-95.085307,GENERAL MEDICAL AND SURGICAL HOSPITALS,NOT AVAILABLE,48,PROPRIETARY
7561,LAKE TRAVIS ER LLC,5012 N FM 620 RD,AUSTIN,TX,78732,SPECIAL,OPEN,TRAVIS,48453,30.391347,-97.884935,SPECIALTY (EXCEPT PSYCHIATRIC AND SUBSTANCE AB...,100419,48,PROPRIETARY
7566,ENCOMPASS HEALTH REHABILITATION HOSPITAL OF PE...,2121 BUSINESS CENTER DRIVE,PEARLAND,TX,77584,SPECIAL,OPEN,BRAZORIA,48039,29.572906,-95.389833,"REHABILITATION HOSPITALS (EXCEPT ALCOHOLISM, D...",100402,48,PROPRIETARY
7567,BAYLOR SCOTT & WHITE SURGICAL HOSPITAL - FORT ...,1800 PARK PLACE AVENUE,FORT WORTH,TX,76110,GENERAL ACUTE CARE,OPEN,TARRANT,48439,32.727489,-97.347092,GENERAL MEDICAL AND SURGICAL HOSPITALS,100271,48,PROPRIETARY
7572,WISE HEALTH SURGICAL HOSPITAL,7218 CRAWFORD ROAD,ARGYLE,TX,76226,SPECIAL,OPEN,DENTON,48121,33.132137,-97.204726,SPECIALTY (EXCEPT PSYCHIATRIC AND SUBSTANCE AB...,100335,48,NON-PROFIT

In [65]:
df =pd.DataFrame(hosp.FIPS.value_counts()).reset_index()

In [66]:
df.rename(columns = {"FIPS": "num_hospitals"}, inplace = True)

In [67]:
df.rename(columns = {"index": "FIPS"}, inplace = True)

In [68]:
def create_hospital_count_df():
    """
    Uses the get_texas_hospitals function and creates a dataframe
    totaling the number of hospitals homes per county
    """
    #Bring in the hospitals dataframe    
    hosp = get_texas_hospitals()
    
    #Get the value counts for each FIPS (county)
    df =pd.DataFrame(hosp.FIPS.value_counts()).reset_index()
    
    #Rename the columns
    df.rename(columns = {"FIPS": "num_hospitals"}, inplace = True)
    df.rename(columns = {"index": "FIPS"}, inplace = True)
    
    return df

In [80]:
df_region = pd.read_excel("../Data/PHR_MSA_County_masterlist.xlsx")

In [81]:
df_region

,County Name,FIPS #,County #,Public Health Region (11),Health Service Region (8),Metropolitan Statistical Area (MSA),Metropolitan Divisions (MD),Metro Area (82),NCHS Urban Rural Classification (2006),NCHS Urban Rural Classification (2013),Border 32 (La Paz Agreement),Border 15
0,Anderson,1.0,1.0,4.0,4/5N,--,--,Non-Metro,Micropolitan,Micropolitan,Non-Border,Non-Border
1,Andrews,3.0,2.0,9.0,9/10,--,--,Non-Metro,Micropolitan,Micropolitan,Non-Border,Non-Border
2,Angelina,5.0,3.0,5.0,4/5N,--,--,Non-Metro,Micropolitan,Micropolitan,Non-Border,Non-Border
3,Aransas,7.0,4.0,11.0,11,Corpus Christi,--,Metro,Medium Metro,Medium Metro,Non-Border,Non-Border
4,Archer,9.0,5.0,2.0,2/3,Wichita Falls,--,Metro,Small Metro,Small Metro,Non-Border,Non-Border
...,...,...,...,...,...,...,...,...,...,...,...,...
251,Young,503.0,252.0,2.0,2/3,--,--,Non-Metro,Noncore,Non-core,Non-Border,Non-Border
252,Zapata,505.0,253.0,11.0,11,--,--,Non-Metro,Noncore,Micropolitan,Border,Border
253,Zavala,507.0,254.0,8.0,8,--,--,Non-Metro,Noncore,Non-core,Border,Non-Border
254,Back to CHS Useful Information,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,End of Worksheet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df_region.columns.tolist()

['County Name',
 'FIPS #',
 'County #',
 'Public Health Region (11)',
 'Health Service Region (8)',
 'Metropolitan Statistical Area (MSA)',
 'Metropolitan Divisions (MD)',
 'Metro Area (82)',
 'NCHS Urban Rural Classification (2006)',
 'NCHS Urban Rural Classification (2013)',
 'Border 32 (La Paz Agreement)',
 'Border 15']

In [83]:
col_to_drop = ['FIPS #', 
               'County #', 
               'Metropolitan Statistical Area (MSA)',
               'Metropolitan Divisions (MD)',
               'Metro Area (82)',
               'NCHS Urban Rural Classification (2006)',
               'NCHS Urban Rural Classification (2013)',
               'Border 32 (La Paz Agreement)',
               'Border 15']

In [85]:
df_region.drop(columns = col_to_drop, inplace = True)

In [88]:
df_region.dropna(inplace = True)

In [92]:
df_region.rename(columns = {"County Name": "County"}, inplace = True)

In [95]:
df_region.County = df_region.County.str.lower()

In [96]:
df_region

       County  Public Health Region (11) Health Service Region (8)
0    anderson                        4.0                      4/5N
1     andrews                        9.0                      9/10
2    angelina                        5.0                      4/5N
3     aransas                       11.0                        11
4      archer                        2.0                       2/3
..        ...                        ...                       ...
249      wood                        4.0                      4/5N
250    yoakum                        1.0                         1
251     young                        2.0                       2/3
252    zapata                       11.0                        11
253    zavala                        8.0                         8

[254 rows x 3 columns]

In [90]:
fips = create_county_fips_dataframe()

In [97]:
df_region_fips = fips.merge(df_region, left_on="County", right_on="County", how="outer")

In [98]:
df_region_fips

      FIPS    County  Public Health Region (11) Health Service Region (8)
0    48000     texas                        NaN                       NaN
1    48001  anderson                        4.0                      4/5N
2    48003   andrews                        9.0                      9/10
3    48005  angelina                        5.0                      4/5N
4    48007   aransas                       11.0                        11
..     ...       ...                        ...                       ...
250  48499      wood                        4.0                      4/5N
251  48501    yoakum                        1.0                         1
252  48503     young                        2.0                       2/3
253  48505    zapata                       11.0                        11
254  48507    zavala                        8.0                         8

[255 rows x 4 columns]

In [100]:
df_region_fips.fillna(0, inplace= True)

In [102]:
df_region_fips["Public Health Region (11)"] = df_region_fips["Public Health Region (11)"].astype("int")

In [103]:
df_region_fips

      FIPS    County  Public Health Region (11) Health Service Region (8)
0    48000     texas                          0                         0
1    48001  anderson                          4                      4/5N
2    48003   andrews                          9                      9/10
3    48005  angelina                          5                      4/5N
4    48007   aransas                         11                        11
..     ...       ...                        ...                       ...
250  48499      wood                          4                      4/5N
251  48501    yoakum                          1                         1
252  48503     young                          2                       2/3
253  48505    zapata                         11                        11
254  48507    zavala                          8                         8

[255 rows x 4 columns]

In [104]:
def acquire_health_region_id():
    """
    Acquires the health region data and prepares the dataframe to merge
    onto the main dataframe
    """
    #read in the file
    df_region = pd.read_excel("../Data/PHR_MSA_County_masterlist.xlsx")
    
    #list coloumns to drop
    col_to_drop = ['FIPS #', 
               'County #', 
               'Metropolitan Statistical Area (MSA)',
               'Metropolitan Divisions (MD)',
               'Metro Area (82)',
               'NCHS Urban Rural Classification (2006)',
               'NCHS Urban Rural Classification (2013)',
               'Border 32 (La Paz Agreement)',
               'Border 15']
    
    #drop columns
    df_region.drop(columns = col_to_drop, inplace = True)
    
    #drop the na rows
    df_region.dropna(inplace = True)
    
    #rename columns
    df_region.rename(columns = {"County Name": "County"}, inplace = True)
    
    #make county names all lower case
    df_region.County = df_region.County.str.lower()
    
    #bring in fips numbers
    fips = create_county_fips_dataframe()
    
    #merge fips onto region id df
    df_region_fips = fips.merge(df_region, left_on="County", 
                                right_on="County", how="outer")
    
    #fill TX row with 0 for region ID
    df_region_fips.fillna(0, inplace= True)
    
    #set the datatype for region ID to an int
    df_region_fips["Public Health Region (11)"] = df_region_fips["Public Health Region (11)"].astype("int")
    
    return df_region_fips

In [105]:
acquire_health_region_id()

      FIPS    County  Public Health Region (11) Health Service Region (8)
0    48000     texas                          0                         0
1    48001  anderson                          4                      4/5N
2    48003   andrews                          9                      9/10
3    48005  angelina                          5                      4/5N
4    48007   aransas                         11                        11
..     ...       ...                        ...                       ...
250  48499      wood                          4                      4/5N
251  48501    yoakum                          1                         1
252  48503     young                          2                       2/3
253  48505    zapata                         11                        11
254  48507    zavala                          8                         8

[255 rows x 4 columns]