In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

import yk_acquire

In [2]:
df = yk_acquire.merge_dataframes()

In [3]:
df

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,...,Population_loss_2015_update,Retirement_Destination_2015_Update,HiAmenity,Metro_Adjacent2013,num_hospitals,population,num_covid_cases,infection_pct,FIPS,num_nursing_homes
0,23111.241421,anderson,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,...,0.0,0.0,0.0,0.0,2.0,58199.0,1003.0,1.723397,48001,5.0
1,5015.975463,andrews,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,...,0.0,0.0,0.0,1.0,1.0,22269.0,33.0,0.148188,48003,1.0
2,20927.331551,angelina,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,...,0.0,0.0,1.0,0.0,4.0,90437.0,352.0,0.389221,48005,8.0
3,8865.511478,aransas,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,...,0.0,1.0,1.0,0.0,NaN,27699.0,7.0,0.025272,48007,2.0
4,2147.672378,archer,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,...,0.0,0.0,0.0,0.0,NaN,8344.0,3.0,0.035954,48009,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,3222.188853,wood,48384.0,6.128292,2116.0,6625.0,645.23,45129.0,65.04,10148,...,0.0,1.0,1.0,1.0,2.0,45292.0,66.0,0.145721,48499,5.0
250,1562.352965,yoakum,61560.0,5.705285,454.0,1028.0,799.71,8591.0,9.85,895,...,0.0,0.0,0.0,0.0,1.0,9225.0,11.0,0.119241,48501,1.0
251,6142.001383,young,49301.0,5.501855,873.0,2468.0,914.47,18045.0,20.29,3422,...,0.0,0.0,0.0,0.0,2.0,18712.0,15.0,0.080162,48503,3.0
252,6065.681176,zapata,33160.0,18.348365,2297.0,4529.0,998.41,14190.0,14.04,1460,...,0.0,0.0,1.0,1.0,NaN,14409.0,31.0,0.215143,48505,1.0
253,3702.027063,zavala,30076.0,15.852535,1549.0,3701.0,1297.41,11983.0,9.00,1408,...,0.0,0.0,0.0,0.0,NaN,12682.0,13.0,0.102507,48507,NaN

In [8]:
#fill hospital nan with 0
df.num_hospitals = df.num_hospitals.fillna(0)

In [10]:
#fill nursing home nan with 0
df.num_nursing_homes = df.num_nursing_homes.fillna(0)

In [29]:
def fill_nulls_with_zero(dataframe, col_name_string):
    """
    Takes in a dataframe and column name (string) and 
    fills the nan in the specified column with 0
    """
    return dataframe[col_name_string].fillna(0)

In [27]:
df = yk_acquire.merge_dataframes()

In [31]:
df.num_nursing_homes = fill_nulls_with_zero(df, "num_nursing_homes")

In [32]:
df.num_hospitals = fill_nulls_with_zero(df, "num_hospitals")

In [45]:
df.isnull().sum()

LACCESS_POP15        1
County               0
MedHHInc             0
Deep_Pov_All         0
PovertyUnder18Num    0
                    ..
population           0
num_covid_cases      0
infection_pct        0
FIPS                 0
num_nursing_homes    0
Length: 73, dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 254 entries, 0 to 253
Data columns (total 73 columns):
LACCESS_POP15                         253 non-null float64
County                                254 non-null object
MedHHInc                              254 non-null float64
Deep_Pov_All                          254 non-null float64
PovertyUnder18Num                     254 non-null float64
PovertyAllAgesNum                     254 non-null float64
LandAreaSQMiles2010                   254 non-null float64
TotalPopEst2018                       254 non-null float64
PopDensity2010                        254 non-null float64
Age65AndOlderNum2010                  254 non-null int64
Under18Num2010                        254 non-null int64
NaturalChange1018                     254 non-null float64
AvgHHSize                             254 non-null float64
TotalOccHU                            254 non-null int64
OwnHomeNum                            254 non-null int64
FemaleHHNum                           254 non-null int64
TotalHH                               254 non-null int64
NonEnglishHHNum                       254 non-null int64
HH65PlusAloneNum                      254 non-null int64
Ed1LessThanHSNum                      254 non-null int64
Ed2HSDiplomaOnlyNum                   254 non-null int64
Ed3SomeCollegeNum                     254 non-null int64
Ed4AssocDegreeNum                     254 non-null int64
Ed5CollegePlusNum                     254 non-null int64
WhiteNonHispanicNum2010               254 non-null int64
BlackNonHispanicNum2010               254 non-null int64
AsianNonHispanicNum2010               254 non-null int64
NativeAmericanNonHispanicNum2010      254 non-null int64
HispanicNum2010                       254 non-null int64
MultipleRaceNum2010                   254 non-null int64
State                                 254 non-null object
MedianVetsInc                         246 non-null float64
MedianNonVetsInc                      254 non-null float64
Vets18ONum                            254 non-null float64
CLFVets18to64Num                      254 non-null float64
NonVetsDisabilty                      254 non-null float64
VetsDisabilty                         254 non-null float64
NonVetsPoor                           254 non-null float64
VetsPoor                              254 non-null float64
UnempRate2018                         254 non-null float64
NumUnemployed2018                     254 non-null float64
NumEmployed2018                       254 non-null float64
NumCivLaborforce2018                  254 non-null float64
PctEmpAgriculture                     254 non-null float64
PctEmpMining                          254 non-null float64
PctEmpConstruction                    254 non-null float64
PctEmpManufacturing                   254 non-null float64
PctEmpTrade                           254 non-null float64
PctEmpTrans                           254 non-null float64
PctEmpInformation                     254 non-null float64
PctEmpFIRE                            254 non-null float64
PctEmpServices                        254 non-null float64
PctEmpGovt                            254 non-null float64
RuralUrbanContinuumCode2013           254 non-null float64
UrbanInfluenceCode2013                254 non-null float64
Metro2013                             254 non-null float64
Micropolitan2013                      254 non-null float64
Type_2015_Farming_NO                  254 non-null float64
Type_2015_Manufacturing_NO            254 non-null float64
Type_2015_Mining_NO                   254 non-null float64
Type_2015_Government_NO               254 non-null float64
Type_2015_Recreation_NO               254 non-null float64
Low_Employment_2015_update            254 non-null float64
Population_loss_2015_update           254 non-null float64
Retirement_Destination_2015_Update    254 non-null float64
HiAmenity                             254 non-null float64
Metro_Adjacent2013                    254 non-null float64
num_hospitals                         254 non-null float64
population                            254 non-null float64
num_covid_cases                       254 non-null float64
infection_pct                         254 non-null float64
FIPS                                  254 non-null int64
num_nursing_homes                     254 non-null float64
dtypes: float64(51), int64(20), object(2)
memory usage: 146.8+ KB

***Need to look at LACCESS_POP15 it has one null and MedianVetsInc has 8 nulls***

In [49]:
df.LACCESS_POP15.median()

3836.05728111802

In [50]:
df.LACCESS_POP15.mean()

22636.085931470443

In [51]:
df.LACCESS_POP15.min()

0.0

In [52]:
df.LACCESS_POP15.max()

740267.412660948

In [57]:
df.LACCESS_POP15.nunique()

253

In [68]:
pd.set_option('display.max_columns', None)

In [69]:
df[df['MedianVetsInc'].isna()]

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,Under18Num2010,NaturalChange1018,AvgHHSize,TotalOccHU,OwnHomeNum,FemaleHHNum,TotalHH,NonEnglishHHNum,HH65PlusAloneNum,Ed1LessThanHSNum,Ed2HSDiplomaOnlyNum,Ed3SomeCollegeNum,Ed4AssocDegreeNum,Ed5CollegePlusNum,WhiteNonHispanicNum2010,BlackNonHispanicNum2010,AsianNonHispanicNum2010,NativeAmericanNonHispanicNum2010,HispanicNum2010,MultipleRaceNum2010,State,MedianVetsInc,MedianNonVetsInc,Vets18ONum,CLFVets18to64Num,NonVetsDisabilty,VetsDisabilty,NonVetsPoor,VetsPoor,UnempRate2018,NumUnemployed2018,NumEmployed2018,NumCivLaborforce2018,PctEmpAgriculture,PctEmpMining,PctEmpConstruction,PctEmpManufacturing,PctEmpTrade,PctEmpTrans,PctEmpInformation,PctEmpFIRE,PctEmpServices,PctEmpGovt,RuralUrbanContinuumCode2013,UrbanInfluenceCode2013,Metro2013,Micropolitan2013,Type_2015_Farming_NO,Type_2015_Manufacturing_NO,Type_2015_Mining_NO,Type_2015_Government_NO,Type_2015_Recreation_NO,Low_Employment_2015_update,Population_loss_2015_update,Retirement_Destination_2015_Update,HiAmenity,Metro_Adjacent2013,num_hospitals,population,num_covid_cases,infection_pct,FIPS,num_nursing_homes
130,404.209140,kenedy,42153.0,3.697479,24.0,63.0,1458.33,442.0,0.29,59,102,15.0,2.82,209,71,59,209,92,26,274,87,17,7,28,86,1,1,6,319,12,TX,NaN,22804.0,0.0,0.0,36.0,0.0,12.0,0.0,3.7,9.0,233.0,242.0,30.000000,0.000000,5.000000,5.000000,13.636364,7.727273,0.000000,0.000000,20.454545,18.181818,9.0,8.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,476.0,0.0,0.000000,48261,0.0
131,785.337693,kent,47625.0,1.131542,28.0,89.0,902.51,726.0,0.90,208,185,-41.0,2.22,318,223,23,318,3,71,104,182,117,22,131,669,6,0,5,120,11,TX,NaN,30000.0,41.0,7.0,93.0,0.0,19.0,0.0,2.4,11.0,447.0,458.0,6.472492,5.825243,5.177994,4.854369,15.533981,1.294498,0.647249,8.414239,36.569579,15.210356,9.0,10.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,795.0,0.0,0.000000,48263,1.0
134,285.999999,king,57925.0,8.771930,11.0,38.0,910.87,277.0,0.31,38,68,9.0,2.51,91,34,11,91,2,15,23,60,39,8,29,242,0,0,1,39,4,TX,NaN,37941.0,7.0,3.0,12.0,0.0,8.0,0.0,2.8,6.0,208.0,214.0,33.606557,6.557377,7.377049,2.459016,4.098361,4.098361,1.639344,1.639344,27.868852,10.655738,9.0,12.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,309.0,0.0,0.000000,48269,0.0
135,154.874240,kinney,43192.0,8.321210,188.0,724.0,1360.05,3767.0,2.65,874,724,1.0,2.94,1170,868,78,1170,38,316,731,979,655,117,265,1496,39,10,19,2004,74,TX,NaN,17512.0,682.0,497.0,192.0,198.0,311.0,51.0,4.7,59.0,1198.0,1257.0,2.555647,1.813685,9.975268,0.577082,3.874691,13.932399,0.000000,3.215169,34.872218,29.183842,7.0,10.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3462.0,1.0,0.028885,48271,0.0
141,3980.727582,la salle,40072.0,5.671457,509.0,1737.0,1486.69,7531.0,4.63,857,1494,322.0,2.92,2216,1515,242,2216,384,428,1606,2150,522,117,664,894,18,6,25,5920,80,TX,NaN,21424.0,165.0,138.0,565.0,26.0,310.0,20.0,2.4,112.0,4487.0,4599.0,15.237420,9.922041,3.401843,4.464918,8.788094,8.504607,0.000000,2.055280,41.105599,6.520198,6.0,6.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,8309.0,5.0,0.060176,48283,1.0
150,82.000000,loving,78637.0,0.000000,5.0,5.0,668.93,152.0,0.12,12,9,7.0,3.09,33,21,0,33,3,6,17,15,29,14,0,60,0,0,4,18,6,TX,NaN,22500.0,3.0,0.0,11.0,0.0,0.0,0.0,3.9,4.0,98.0,102.0,8.333333,27.777778,0.000000,0.000000,38.888889,0.000000,0.000000,16.666667,8.333333,0.000000,9.0,12.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,92.0,0.0,0.000000,48301,0.0
191,214.356282,reagan,65273.0,7.508073,146.0,371.0,1175.30,3741.0,2.86,349,1010,286.0,3.24,1147,801,103,1147,152,66,462,878,618,83,242,1219,65,1,7,2051,62,TX,NaN,36738.0,124.0,69.0,128.0,7.0,294.0,0.0,2.5,47.0,1849.0,1896.0,2.789318,44.035608,1.364985,1.008902,6.646884,13.353116,0.000000,2.314540,26.528190,1.958457,6.0,6.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,4226.0,2.0,0.047326,48383,1.0
196,843.189122,roberts,67470.0,4.613610,22.0,70.0,924.06,903.0,1.01,149,236,9.0,2.85,311,232,26,311,0,25,51,157,162,48,149,841,0,2,3,74,19,TX,NaN,33571.0,47.0,27.0,30.0,18.0,18.0,18.0,3.0,13.0,423.0,436.0,17.711172,6.267030,10.899183,8.719346,13.896458,5.449591,0.544959,2.179837,30.517711,3.814714,9.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,983.0,2.0,0.203459,48393,0.0

In [72]:
df = df.fillna(0)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 254 entries, 0 to 253
Data columns (total 73 columns):
LACCESS_POP15                         254 non-null float64
County                                254 non-null object
MedHHInc                              254 non-null float64
Deep_Pov_All                          254 non-null float64
PovertyUnder18Num                     254 non-null float64
PovertyAllAgesNum                     254 non-null float64
LandAreaSQMiles2010                   254 non-null float64
TotalPopEst2018                       254 non-null float64
PopDensity2010                        254 non-null float64
Age65AndOlderNum2010                  254 non-null int64
Under18Num2010                        254 non-null int64
NaturalChange1018                     254 non-null float64
AvgHHSize                             254 non-null float64
TotalOccHU                            254 non-null int64
OwnHomeNum                            254 non-null int64
FemaleHHNum                           254 non-null int64
TotalHH                               254 non-null int64
NonEnglishHHNum                       254 non-null int64
HH65PlusAloneNum                      254 non-null int64
Ed1LessThanHSNum                      254 non-null int64
Ed2HSDiplomaOnlyNum                   254 non-null int64
Ed3SomeCollegeNum                     254 non-null int64
Ed4AssocDegreeNum                     254 non-null int64
Ed5CollegePlusNum                     254 non-null int64
WhiteNonHispanicNum2010               254 non-null int64
BlackNonHispanicNum2010               254 non-null int64
AsianNonHispanicNum2010               254 non-null int64
NativeAmericanNonHispanicNum2010      254 non-null int64
HispanicNum2010                       254 non-null int64
MultipleRaceNum2010                   254 non-null int64
State                                 254 non-null object
MedianVetsInc                         254 non-null float64
MedianNonVetsInc                      254 non-null float64
Vets18ONum                            254 non-null float64
CLFVets18to64Num                      254 non-null float64
NonVetsDisabilty                      254 non-null float64
VetsDisabilty                         254 non-null float64
NonVetsPoor                           254 non-null float64
VetsPoor                              254 non-null float64
UnempRate2018                         254 non-null float64
NumUnemployed2018                     254 non-null float64
NumEmployed2018                       254 non-null float64
NumCivLaborforce2018                  254 non-null float64
PctEmpAgriculture                     254 non-null float64
PctEmpMining                          254 non-null float64
PctEmpConstruction                    254 non-null float64
PctEmpManufacturing                   254 non-null float64
PctEmpTrade                           254 non-null float64
PctEmpTrans                           254 non-null float64
PctEmpInformation                     254 non-null float64
PctEmpFIRE                            254 non-null float64
PctEmpServices                        254 non-null float64
PctEmpGovt                            254 non-null float64
RuralUrbanContinuumCode2013           254 non-null float64
UrbanInfluenceCode2013                254 non-null float64
Metro2013                             254 non-null float64
Micropolitan2013                      254 non-null float64
Type_2015_Farming_NO                  254 non-null float64
Type_2015_Manufacturing_NO            254 non-null float64
Type_2015_Mining_NO                   254 non-null float64
Type_2015_Government_NO               254 non-null float64
Type_2015_Recreation_NO               254 non-null float64
Low_Employment_2015_update            254 non-null float64
Population_loss_2015_update           254 non-null float64
Retirement_Destination_2015_Update    254 non-null float64
HiAmenity                             254 non-null float64
Metro_Adjacent2013                    254 non-null float64
num_hospitals                         254 non-null float64
population                            254 non-null float64
num_covid_cases                       254 non-null float64
infection_pct                         254 non-null float64
FIPS                                  254 non-null int64
num_nursing_homes                     254 non-null float64
dtypes: float64(51), int64(20), object(2)
memory usage: 146.8+ KB

In [74]:
df.head()

,LACCESS_POP15,County,MedHHInc,Deep_Pov_All,PovertyUnder18Num,PovertyAllAgesNum,LandAreaSQMiles2010,TotalPopEst2018,PopDensity2010,Age65AndOlderNum2010,Under18Num2010,NaturalChange1018,AvgHHSize,TotalOccHU,OwnHomeNum,FemaleHHNum,TotalHH,NonEnglishHHNum,HH65PlusAloneNum,Ed1LessThanHSNum,Ed2HSDiplomaOnlyNum,Ed3SomeCollegeNum,Ed4AssocDegreeNum,Ed5CollegePlusNum,WhiteNonHispanicNum2010,BlackNonHispanicNum2010,AsianNonHispanicNum2010,NativeAmericanNonHispanicNum2010,HispanicNum2010,MultipleRaceNum2010,State,MedianVetsInc,MedianNonVetsInc,Vets18ONum,CLFVets18to64Num,NonVetsDisabilty,VetsDisabilty,NonVetsPoor,VetsPoor,UnempRate2018,NumUnemployed2018,NumEmployed2018,NumCivLaborforce2018,PctEmpAgriculture,PctEmpMining,PctEmpConstruction,PctEmpManufacturing,PctEmpTrade,PctEmpTrans,PctEmpInformation,PctEmpFIRE,PctEmpServices,PctEmpGovt,RuralUrbanContinuumCode2013,UrbanInfluenceCode2013,Metro2013,Micropolitan2013,Type_2015_Farming_NO,Type_2015_Manufacturing_NO,Type_2015_Mining_NO,Type_2015_Government_NO,Type_2015_Recreation_NO,Low_Employment_2015_update,Population_loss_2015_update,Retirement_Destination_2015_Update,HiAmenity,Metro_Adjacent2013,num_hospitals,population,num_covid_cases,infection_pct,FIPS,num_nursing_homes
0,23111.241421,anderson,45969.0,4.287712,2486.0,8778.0,1062.60,58057.0,55.01,7338,11475,-495.0,2.69,16459,11674,2001,16459,592,2046,8351,15224,10696,2807,4931,35792,12222,283,192,9287,993,TX,34618.0,21739.0,4012.0,2307.0,3018.0,253.0,3219.0,237.0,3.1,728.0,22833.0,23561.0,1.905654,6.919713,5.435801,6.175154,20.425909,6.638550,0.494637,3.097990,39.529314,9.377278,7.0,8.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,58199.0,1003.0,1.723397,48001,5.0
1,5015.975463,andrews,84946.0,3.720851,774.0,1922.0,1500.71,18128.0,9.85,1663,4312,1408.0,3.22,5508,4024,545,5508,536,456,2695,3898,2161,753,1103,7083,199,85,95,7195,292,TX,49625.0,32142.0,685.0,478.0,797.0,28.0,891.0,0.0,2.4,225.0,9157.0,9382.0,1.277217,25.118599,7.772777,5.400803,12.236954,9.147306,1.423185,5.339983,30.312614,1.970563,6.0,5.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,22269.0,33.0,0.148188,48003,1.0
2,20927.331551,angelina,46653.0,7.613627,5855.0,15052.0,797.78,87092.0,108.77,11843,23206,2539.0,2.75,30783,20440,4777,30783,955,3463,10826,18265,14230,4578,9344,54889,12840,744,255,17145,1524,TX,31119.0,23093.0,5929.0,3077.0,7252.0,780.0,8112.0,478.0,4.4,1589.0,34622.0,36211.0,2.012354,1.953660,6.836412,11.724755,15.592946,4.309791,0.531038,4.206378,48.601135,4.231532,5.0,8.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,90437.0,352.0,0.389221,48005,8.0
3,8865.511478,aransas,46912.0,9.002793,1423.0,4642.0,252.07,23792.0,91.87,5602,4523,-760.0,2.58,9432,7344,697,9432,252,1521,2742,5392,4764,1302,3936,16350,258,443,118,5690,523,TX,31986.0,21220.0,2584.0,1102.0,1767.0,326.0,2775.0,207.0,5.7,589.0,9725.0,10314.0,1.157430,3.540951,12.359000,4.963217,13.859735,3.089750,0.519863,4.717999,49.759686,6.032369,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,27699.0,7.0,0.025272,48007,2.0
4,2147.672378,archer,61190.0,3.490241,268.0,922.0,903.11,8786.0,10.03,1447,2185,-39.0,2.61,3332,2804,250,3332,70,429,558,2057,1655,462,1449,8182,34,18,47,675,134,TX,40500.0,30941.0,625.0,326.0,563.0,44.0,383.0,8.0,3.1,129.0,4055.0,4184.0,5.336374,4.424173,7.366021,7.708096,15.963512,4.811859,0.957811,5.267959,42.850627,5.313569,3.0,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8344.0,3.0,0.035954,48009,1.0

In [79]:
def replace_nulls_in_df(df):
    """
    Takes in the dataframe and replaces the nulls with 0
    """
    return df.fillna(0)

In [80]:
df = yk_acquire.merge_dataframes()

In [83]:
df = replace_nulls_in_df(df)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 254 entries, 0 to 253
Data columns (total 73 columns):
LACCESS_POP15                         254 non-null float64
County                                254 non-null object
MedHHInc                              254 non-null float64
Deep_Pov_All                          254 non-null float64
PovertyUnder18Num                     254 non-null float64
PovertyAllAgesNum                     254 non-null float64
LandAreaSQMiles2010                   254 non-null float64
TotalPopEst2018                       254 non-null float64
PopDensity2010                        254 non-null float64
Age65AndOlderNum2010                  254 non-null int64
Under18Num2010                        254 non-null int64
NaturalChange1018                     254 non-null float64
AvgHHSize                             254 non-null float64
TotalOccHU                            254 non-null int64
OwnHomeNum                            254 non-null int64
FemaleHHNum                           254 non-null int64
TotalHH                               254 non-null int64
NonEnglishHHNum                       254 non-null int64
HH65PlusAloneNum                      254 non-null int64
Ed1LessThanHSNum                      254 non-null int64
Ed2HSDiplomaOnlyNum                   254 non-null int64
Ed3SomeCollegeNum                     254 non-null int64
Ed4AssocDegreeNum                     254 non-null int64
Ed5CollegePlusNum                     254 non-null int64
WhiteNonHispanicNum2010               254 non-null int64
BlackNonHispanicNum2010               254 non-null int64
AsianNonHispanicNum2010               254 non-null int64
NativeAmericanNonHispanicNum2010      254 non-null int64
HispanicNum2010                       254 non-null int64
MultipleRaceNum2010                   254 non-null int64
State                                 254 non-null object
MedianVetsInc                         254 non-null float64
MedianNonVetsInc                      254 non-null float64
Vets18ONum                            254 non-null float64
CLFVets18to64Num                      254 non-null float64
NonVetsDisabilty                      254 non-null float64
VetsDisabilty                         254 non-null float64
NonVetsPoor                           254 non-null float64
VetsPoor                              254 non-null float64
UnempRate2018                         254 non-null float64
NumUnemployed2018                     254 non-null float64
NumEmployed2018                       254 non-null float64
NumCivLaborforce2018                  254 non-null float64
PctEmpAgriculture                     254 non-null float64
PctEmpMining                          254 non-null float64
PctEmpConstruction                    254 non-null float64
PctEmpManufacturing                   254 non-null float64
PctEmpTrade                           254 non-null float64
PctEmpTrans                           254 non-null float64
PctEmpInformation                     254 non-null float64
PctEmpFIRE                            254 non-null float64
PctEmpServices                        254 non-null float64
PctEmpGovt                            254 non-null float64
RuralUrbanContinuumCode2013           254 non-null float64
UrbanInfluenceCode2013                254 non-null float64
Metro2013                             254 non-null float64
Micropolitan2013                      254 non-null float64
Type_2015_Farming_NO                  254 non-null float64
Type_2015_Manufacturing_NO            254 non-null float64
Type_2015_Mining_NO                   254 non-null float64
Type_2015_Government_NO               254 non-null float64
Type_2015_Recreation_NO               254 non-null float64
Low_Employment_2015_update            254 non-null float64
Population_loss_2015_update           254 non-null float64
Retirement_Destination_2015_Update    254 non-null float64
HiAmenity                             254 non-null float64
Metro_Adjacent2013                    254 non-null float64
num_hospitals                         254 non-null float64
population                            254 non-null float64
num_covid_cases                       254 non-null float64
infection_pct                         254 non-null float64
FIPS                                  254 non-null int64
num_nursing_homes                     254 non-null float64
dtypes: float64(51), int64(20), object(2)
memory usage: 146.8+ KB